header {
    /*-webkit-box-shadow: 0px 3px 15px 0px rgba(246, 245, 245);
    -moz-box-shadow: 0px 3px 15px 0px rgba(246, 245, 245);
    box-shadow: 0px 3px 15px 0px rgb(246, 245, 245);
    -webkit-box-shadow: 0px 3px 5px 0px rgb(180, 180, 180);
    -moz-box-shadow: 0px 3px 5px 0px rgb(180, 180, 180);
    box-shadow: 0px 3px 5px 0px rgb(180, 180, 180);*/
    border-bottom: 5px #fafafa inset;R
}


.top-bar .submenu li a {
    padding: 10px;
    background: #fff;
    height: 150px;
    font-family: "Futura", sans-serif;
    box-shadow: 1px 1px 1px 1px rgba(147, 148, 150, 0.3);
}

.top-bar .submenu li + li > a:before {
    width: 0px;
}

h1, .managment-section h2 {
    font-size: 30px;
    font-weight: 600;
}

.default-page h1, .main-features-title-row h2 {
    font-family: "Microsoft YaHei", sans-serif;
}

/*.main-content {
    padding: 30px 70px 0px;
}*/
.main-content {
    padding: 30px 0 0;
}

.main-content h1 {
    margin-bottom: 25px;
    text-align: center;
}

.main-content p, .main-content a, .about-bottom-section p, .team-member-info p {
    font-size: 16px;
}

.managment-section h2 {
    font-size: 30px;
    color: #1e2e5f;
}

.team-member-info h3 {
    font-size: 30px;
}

.team-member-photo-container {
    padding: 0 10%;
}

.team-member-row {
    padding-bottom: 75px;
}

.team-member-row + .team-member-row {
    border-bottom: none;
}

.column-content p, .column-content a, .column-content li {
    font-size: 16px;
}

.logo img {
    max-height: 50px;
}

.what_is_face_fix_soft, .left-article {
    padding: 20px 0 0;
}

.what-image-col, .left-image-col, .right-image-col {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    -moz-background-size: auto;
    -o-background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
}

.left-image-col {
    background-position: 100%;
}

.right-image-col {
    background-position: 0%;
}

/*.fa6-applications-section {
    padding-top: 35px;
    padding-bottom: 35px;
	background: #f3f3f5;
	background-image: url(http://site.face-six.com/face-six-redesign/wp-content/uploads/2018/03/2-676722190.jpg);
    background-size: cover;
}*/
.fa6-applications-section {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #f3f3f5;
    background-image: url(https://face-six.com/wp-content/uploads/2018/03/bg3.jpg);
    background-size: cover;
}

.application-title, .application-description {
    max-width: 100%;
}

.application-title {
    color: #b41c17;
}

.application-title h2 {
    text-transform: none;
}

.application-description p {
    font-size: 22px;
    background: RGBA(255, 255, 255, 0.5);
}

.fa6-applications-item {
    text-align: left;
    padding-top: 10px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(147, 148, 150, 0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(147, 148, 150, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(147, 148, 150, 0.3);
    margin: 15px 0;
    background: RGBA(255, 255, 255, 0.85);
}

.fa6-applications-item h2, .what_is_face_fix_soft h2, .left-article h2, .right-article h2 {
    color: #182a5e;
    text-transform: none;
}

.fa6-applications-item-content {
    vertical-align: middle;
    display: inline-block;
}

.fa6-applications-item-content p {
    line-height: 1.2;
    padding: 20px;
    text-align: justify;
    background: RGBA(255, 255, 255, 0.5);
}

.fa6-applications-item-img {
    padding: 0 25px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 70px;
}

.fa6-applications-item-img img {
    width: 70%;
}

.how-content {
    margin: 0 auto;
    padding-right: 0px;
}

.how-content p {
    line-height: 1.2;
}

.advantages-section {
    padding: 30px 0;
    background-image: url(https://face-six.com/wp-content/uploads/2018/03/bg4.jpg);
    background-size: cover;
}

.advantages-title-row h2 {
    color: #b41c17;
}

.advantages-list {
    list-style: none;
    margin-left: 30%;
}

.advantages-list h2 {
    color: #003161;
    text-transform: none;
    background: RGBA(255, 255, 255, 0.5);
}

.advantages-list li {

}

.advantages-list li img, .advantages-list li h2 {
    display: inline-block;
}

.advantages-list li img {
    margin-right: 15px;
    margin-bottom: 20px;
}

.how-image-col {
    background-position: 0;
}

.line-height {
    line-height: 2.5em;
}

h2.video-title {
    color: #182a5e;
}

/*#home-slider{
	background:url("http://face-six.com/wp-content/uploads/2018/02/alerts.jpg");
}
#home-slider{
	z-index:2;
}*/
#home-slider .designed-featured-container .designed-list li {
    font-weight: 400;
    font-size: 18px;
}

#home-slider .designed-featured-container .featured-list li {
    font-weight: 400;
    font-size: 18px;
}

#home-slider .slide-reverse .slide-image-container {
    background-position: 0 0;
}

.possibility-first-line, .possibility-third-line {
    font-size: 25px;
}

.possibility-second-line {
    font-size: 40px;
}

.possibilities-section {
    margin: 70px 0 20px;
    background-color: #1e2e5f;
    color: #ffffff;
    background: -moz-linear-gradient(45deg, #cd1f3b 0%, #1e2e5f 10%, #1e2e5f 90%, #cd1f3b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cd1f3b 0%, #1e2e5f 10%, #1e2e5f 90%, #cd1f3b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #cd1f3b 0%, #1e2e5f 10%, #1e2e5f 90%, #cd1f3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd1f3b', endColorstr='#cd1f3b', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.can-be-used-item-content h2 {
    color: #1e2e5f;
}

.can-be-used-item {
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 75px auto;
    padding: 0px;
    background: #fff;
    border: 1px solid #666;
    width: 65%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}

.popup .close {
    position: absolute;
    top: -60px;
    right: -60px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.popup .close:hover {
    opacity: 1;
}

.popup .content {
    max-height: 100%;
    overflow: auto;
}

.popup .content img {
    max-width: 100%
}

.videos-page, .blog-page {
    background: #f2f2f2;
}

.videos-rows .row, .secondary-posts {
    padding: 2em;
    margin-bottom: 2em;
    -webkit-box-shadow: 10px 10px 29px -5px rgba(189, 189, 189, 1);
    -moz-box-shadow: 10px 10px 29px -5px rgba(189, 189, 189, 1);
    box-shadow: 10px 10px 29px -5px rgba(189, 189, 189, 1);

}

.videos-rows .row {
    margin-left: 2em;
}

.videos-rows p {
    text-align: justify;
    padding-right: 15px;
}

.videos-rows div, .secondary-posts {
    background: white;
}

.video-desc, .video-title {
    padding: 0;
}

h2.video-title {
    color: rgb(0, 0, 0);
}

.contact-page {
    background: url(https://face-six.com/wp-content/uploads/2018/03/face-six_banner3-1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-two-columns-section .columns + .columns {
    border: none;
}

.contact-two-columns-section .columns > * {
    vertical-align: top;
    background: RGBA(255, 255, 255, 0.7);
    padding: 20px;
}

.contact-two-columns-section form input, .contact-two-columns-section form textarea {
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
    height: 30px;
}

.contact-two-columns-section form p {
    line-height: 0.3;
}

.contact-two-columns-section form p input[type="submit"] {
    margin-top: 10px;
    padding-top: 0.3rem;
}

.contact-two-columns-section .left-column-content {
    width: 100%;
}

.rc-anchor .rc-anchor-normal .rc-anchor-light {
    background: none;
    border: none;
    shadow: none;
}

.left-column-content p:nth-child(2) {
    background: #cd1f3b;
    color: white;
    padding-left: 5px;
}

.left-column-content p:nth-child(5) {
    background: #1e2e5f;
    color: white;
    padding-left: 5px;
}

.right-column-content {
    margin-left: 20px;
}

.main-content span {
    float: right;
    padding: 0 80px 0 40px;
    text-align: justify;
}

.wp-caption {
    border: none;
    padding: 0;
}

@media only screen and (min-width: 300px) {
    #home-slider {
        display: none;
    }

    #home_page_mobile_slider {
        display: block;
    }

    .home_page_mobile_slide {
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    .home_page_mobile_slide > img {
    }

    .mobile_slider_video {
        opacity: 0;
        position: relative;
        width: 100%
    }

    .home_page_mobile_slider_anim > a {
        animation: round 48s;
    }

    @keyframes round {
        0% {
            z-index: 2;
        }
        12% {
            opacity: 1;
        }
        18% {
            opacity: 0;
            left: 0px !important;
        }
        41% {
            z-index: 1;
        }
    }
    .mobile_slider_video_anim_end {
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s;
        opacity: 0 !important;
    }

    .mobile_slider_video_anim_start {
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s;
        opacity: 1;
    }

    .top-bar .submenu li a {
        height: 90px;
    }

    .top-bar ul li .submenu a {
        background: #fff !important;
    }

    .top-bar ul li.current_page_ancestor > a {
        background: #fff !important;
    }

    .top-bar ul li .submenu .current-menu-item a {
        color: #000;
    }

    .left-image-col, .right-image-col {
        background-position: 50% 50%;
        background-size: contain;
        height: 300px;
    }

    .right-image-col {
        background-position: 30% 50%;
    }

    .right-article .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .how-content {
        padding: 20px 0;
    }

    .how-it-works-section {
        margin-top: 20px;
    }

    #home_page_mobile_slider > a:nth-child(1) {
        animation-delay: 42s;
    }

    #home_page_mobile_slider > a:nth-child(2) {
        animation-delay: 36s;
    }

    #home_page_mobile_slider > a:nth-child(3) {
        animation-delay: 30s;
    }

    #home_page_mobile_slider > a:nth-child(4) {
        animation-delay: 24s;
    }

    #home_page_mobile_slider > a:nth-child(5) {
        animation-delay: 18s;
    }

    #home_page_mobile_slider > a:nth-child(6) {
        animation-delay: 12s;
    }

    #home_page_mobile_slider > a:nth-child(7) {
        animation-delay: 6s;
    }

    #home_page_mobile_slider > a:nth-child(8) {
        animation-delay: 0s;
    }

    .advantages-list {
        margin-left: 0%;
    }

    .advantages-list li img {
        width: 20px;
    }

    .advantages-list li img {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .advantages-list h2 {
        font-size: 20px;
    }

    .application-description {
        margin: 0 !important;
        padding: 20px;
    }

    .application-description p {
        font-size: 16px;
    }

    .how-image-col {
        display: none;
    }

    .main-content span {
        padding: 0 5px 0 5px;
    }

    .main-content h1 {
        font-size: 22px;
    }

    .possibilities-section {
        display: none;
    }

    .top-banner {
        display: none;
    }

    .top-banner-thumbnail {
        padding-bottom: 70%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wp-post-image {
        width: 100%;
        padding: 10px 0 0;
    }

    .secondary-posts h5 {
        text-align: left;
        text-decoration: none;
        text-transform: none;
    }

    .secondary-posts h5 a, .blog-post-col h6 a {
        font-weight: 400;
        color: #000000;

        font-family: Microsoft Sans Serif;
        font-size: 24px;
    }
}

@media only screen and (min-width: 641px) {
    /*#home-slider{
        display: block;
    }
    #home_page_mobile_slider{
        display: none;
    }*/
    .top-bar .submenu li {
        width: 25%;
    }

    .top-bar .submenu li > a img {
        max-width: 130px;
    }

    .advantages-list h2 {
        font-size: 24px;
    }

    .advantages-list li img {
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .advantages-list li img {
        width: 24px;
    }

    .application-description p {
        font-size: 18px;
    }

    .how-image-col {
        display: inline-block;
    }

    .possibilities-section {
        display: block;
    }

    .left-image-col, .right-image-col {
        background-position: 50% 50%;
        background-size: auto;
        height: auto;
    }

    .how-it-works-section {
        margin-top: 20px;
    }

    .right-article .row {
        display: block;
    }

    /*h1, h2{
        font-size:20px;
    }
    .advantages-list{
         margin-left:0;
    }*/
}

@media only screen and (min-width: 1025px) {
    .top-bar .submenu li a {
        height: 150px;
    }

    #home-slider {
        display: block;
    }

    #home_page_mobile_slider {
        display: none;
    }

    .main-content h1, .can-be-used-item-content h2, .main-features-title-row h2, .managment-section h2 {
        font-size: 30px;
    }

    .main-content span {
        padding: 0 5px 0 5px;
    }

    h2.video-title {
        font-size: 24px;
    }

    .possibilities-section {
        padding: 5px 0;
    }

    .possibility-first-line, .possibility-third-line {
        font-size: 25px;
    }

    .possibility-second-line {
        font-size: 40px;
    }

    .can-be-used-item-content p, .main-content p, .main-content a {
        font-size: 16px;
        font-family: "Microsoft Sans Serif", sans serif;
    }

    .application-description p {
        font-size: 24px;
    }

    .advantages-list h2 {
        font-size: 31px;
    }

    .advantages-list li img {
        width: 34px;
    }

    .main-features-list li {
        font-size: 25px;
        line-height: 1.8;
    }

    .main-featured-img {
        padding: 0 10%;
    }

    .how-content p {
        font-size: 20px;
    }

    .top-banner {
        display: block;
        padding-bottom: 28%;
    }

    .top-banner-thumbnail {
        display: none;
    }

    .wp-post-image {
        padding: 10px 0 10px;
    }

    .secondary-posts h5 a, .blog-post-col h6 a {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1201px) {
    .top-bar .submenu li > a span {
        font-size: 19px;
        text-align: justify;
        line-height: 1;
    }

    #home-slider .slide-button-container {
        padding-right: 160px;
    }

    .main-content span {
        padding: 0 80px 0 40px;
    }

    .main-content h1, .can-be-used-item-content h2, .main-features-title-row h2, .managment-section h2, h2.video-title {
        font-size: 35px;
    }

    .possibilities-section {
        padding: 5px 0;
    }

    .possibility-first-line, .possibility-third-line {
        font-size: 25px;
    }

    .possibility-second-line {
        font-size: 40px;
    }

    .can-be-used-item-content p, .main-content p, .main-content a {
        font-size: 16px;
        font-family: "Microsoft Sans Serif", sans serif;
    }

    .advantages-list {
        margin-left: 30%;
    }

    .advantages-list h2 {
        font-size: 41px;
    }

    .main-features-list li {
        font-size: 25px;
        line-height: 1.8;
    }

    .main-featured-img {
        padding: 0 10%;
    }
}

@media only screen and (min-width: 1401px) {
    .main-content h1, .can-be-used-item-content h2, .main-features-title-row h2, .managment-section h2 {
        font-size: 35px;
    }

    #home-slider .slide-button-container {
        padding-right: 0;
    }

    h2.video-title {
        font-size: 24px;
    }

    .possibilities-section {
        padding: 15px 0;
    }

    .possibility-first-line, .possibility-third-line {
        font-size: 30px;
    }

    .possibility-second-line {
        font-size: 45px;
    }

    .can-be-used-item-content p, .main-content p, .main-content a {
        font-size: 18px;
        font-family: "Microsoft Sans Serif", sans serif;
    }

    .main-features-list li {
        font-size: 30px;
        line-height: 2;
    }

    .how-content p {
        font-size: 20px;
    }

    .advantages-list h2 {
        font-size: 41px;
    }

    .popup {
        width: 70%
    }
}

.top-banner {
    background-position: 50% 50%;
}

.banner-app {
    background-position: 100% 0;
}

.where-can-be-used-section {
    padding-bottom: 35px;
}

.main-features-title-row {
    border-top: none;
    padding-top: 0;
}

.main-features-title-row h2 {
    color: #1e2e5f;
    font-weight: 600;
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    right: 10%;
    left: 10%;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.top-bar .header-menu li .submenu li {
    padding: 5px;
}

.top-bar .header-menu li > a {
    text-transform: none;
}

.main-about article {
    border-bottom: none;
}

@media only screen and (min-width: 1500px) {
    .top-bar .submenu li > a span {
        font-size: 20px;
    }

    .big-bottom-padding {
        padding-bottom: 20px;
    }

    #home-slider .designed-featured-container .designed-list li {
        font-size: 18px;
    }

    #home-slider .designed-featured-container .featured-list li {
        font-size: 18px;
    }

    .popup {
        width: 80%
    }
}

@media only screen and (min-width: 1600px) {
    .top-bar .submenu li > a span {
        font-size: 20px;
    }

    #home-slider .designed-featured-container .designed-list li {
        font-size: 21px;
    }

    #home-slider .designed-featured-container .featured-list li {
        font-size: 21px;
    }

    .big-bottom-padding {
        padding-bottom: 60px;
    }

    .popup {
        width: 80%
    }
}

#home-slider .slide-reverse {
    background-image: url(https://www.face-six.com/wp-content/uploads/2018/05/alerts-min.jpg);
}

#home-slider .designed-featured-container {
    margin-top: 4%;
}

.blog-main-posts {
    padding-top: 0;
}

.blog-post-col {
    padding: 0;
    margin-left: 2em;
}

.blog-main-posts .row {
    margin: 0;
}

/*.home .header {
	position: fixed;
}*/
.half-width-content h2 {
    color: #1e2e5f;
}

.post-excerpt a {
    color: black;
}

#invitation {
    -webkit-animation: moveLine 25s linear 1s infinite;
    animation: moveLine 25s linear 1s infinite;
}

@keyframes moveLine {
    from {
        left: -40%;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes moveLine {
    from {
        left: -40%;
    }
    to {
        left: 100%;
    }
}

html body input[type="password"] {
    font-family: arial !important;
}

.user_info {
}

.user_info .user_name {
    margin: 0 10px;
    color: #fff;
    font-weight: bold;
}

.dropdown ul {
    display: block;
    margin-bottom: 0;
}

.dropdown li {
    list-style-type: none;
}

.user_info img {

}

.dropdown {
}

.dropdown .is-accordion-submenu-parent {
    position: relative;
}

.dropdown .accordion-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dropdown .accordion-toggle {

}

.dropdown .is-accordion-submenu-parent > a:after, .dropdown .accordion-toggle .fa.fa-chevron-right:before {
    display: none !important;
}

.dropdown .menu.is-accordion-submenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 105px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0;
    z-index: 5;
}

.dropdown .is-submenu-item a {
    display: block;
    cursor: pointer;
    padding: 3px 8px;
}

.dropdown .is-submenu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Woocommerce custom produc styles */
.woocommerce-page.columns-5 ul.products li.product.custom_product_wrapper, .woocommerce.columns-5 ul.products li.product.custom_product_wrapper {
    margin: 0 0.1%;
    padding: 19px 13px;
    width: 19.80%;
    border: 2px solid #ccc;
    border-radius: 5px;

}

.woocommerce-page.columns-5 ul.products li.product.custom_product_wrapper, .woocommerce.columns-5 ul.products li.product.custom_product_wrapper:hover {
    border: 2px solid rgba(139, 138, 138, 0.932);
    border-radius: 5px;
}

/* .main-content{
	padding-top: 0 !important;
} */
.main-content .custom_product_wrapper a.reset_variations {
    font-size: 12px;
}

.main-content .custom_product_wrapper p {
    font-size: 14px;
}

.main-content .custom_product_wrapper .product_meta {
    display: none;
}

.main-content .custom_product_wrapper h1 {
    font-size: 22px;
    display: block;
    min-height: 61px;
    text-align: center;
    margin-bottom: 10px;
}

.woocommerce ul.products li.product h1 + p.price {
    display: none;
}

.woocommerce ul.products li.product .price {
    font-size: 14px;
}

.fbl-button {
    text-align: left !important;
}

.prod-cont {
    padding: 20px !important;

}

.prod-cont p {
    margin-bottom: 0px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #b41c17;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #c55f5d;
}

.woocommerce div.product form.cart .variations td.label {
    background-color: white;
    color: black;
    padding-top: 15px;

}

.woocommerce ul.products li.product .price {
    color: #003161;;
}

.product_chosse {
    display: inline;
}

.liproduct_chosse {
    display: inline-block;
    margin: 20px 45px;
}

.liproduct_chosse:hover {
    border: 2px solid #ccc;
    border-radius: 5px;
    /* padding:10px; */
}

.woocommerce li.product.custom_product_wrapper.product_cat-free .quantity .qty,
.woocommerce li.product.custom_product_wrapper.product_cat-free .custom_total {
    display: none;
}

.another_app {
    text-align: center;
}

.woocommerce table.shop_table {
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.select2-container .select2-selection--single {
    height: 39px;
    border-radius: 0;
    box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
    border-color: #cacaca;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.woocommerce .partner_code form.checkout_coupon {
    display: block !important;
    border: none;
    padding: 0;
    margin: 0;
}

.partner_code button.button {
    font-size: 16px;
    margin-top: 28px;
}

.woocommerce form .form-row label[for="billing_state"] .required {
    display: none !important;
}

.userdash {
    margin: 20px;
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.woocommerce div.product div.images img {
    width: 65%;
    margin: auto;

}

.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-right: 5px;
}

/*.woocommerce div.product form.cart .variations {
    border: #d66560 2px solid;
    border-radius: 2px;
}*/

.woocommerce ul.products li.product a img {
    width: 65%;
    margin: auto;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    text-align: center;
    color: black;
}

.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
    width: auto;
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-EditAccountForm {
   width: 130%;
   float:right;
}

.woocommerce-account .woocommerce-MyAccount-content table,
.woocommerce-account .woocommerce-MyAccount-content th,
.woocommerce-account .woocommerce-MyAccount-content tr,
.woocommerce-account .woocommerce-MyAccount-content td {
    border: 1px solid #b41c17 !important;
}

.woocommerce-account .woocommerce-MyAccount-content th {
    background-color: #da9895;
}

.woocommerce table.my_account_orders .button,
.woocommerce table.subscription_details .button.cancel {
    background-color: #b41c17;
    color: honeydew;
    box-shadow: 3px 3px 2px #888888;
    margin-right: 5px;
}

.woocommerce nav.woocommerce-MyAccount-navigation ul {
    border: 0 solid #b41c17;
    border-width: 0 0 1px 1px;
    margin: 0px;
}

.woocommerce nav.woocommerce-MyAccount-navigation li {
    display: block;
    list-style-type: none;
    border: 0 solid #b41c17;
    border-width: 1px 1px 0 0;
    padding: 0px;

}

.woocommerce nav.woocommerce-MyAccount-navigation li a {
    color: black;
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.woocommerce nav.woocommerce-MyAccount-navigation a:hover:not(.menu_acive_button) {
    background-color: #da9895;

}

.menu_acive_button {
    background-color: #b41c17;
}

/*/////////////////////////////////////////////APPLICATION PAGE///////////////////////////////////////////////*/

.signup_button_wrapper {
    text-align: center;
    margin-bottom: 30px;

}

.signup_button_wrapper button.signup_button  {
    border-radius: 3px;
    background-color: #b41c17;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
    padding: 0;
}

.signup_button_wrapper button.signup_button a {
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
}

.signup_button_wrapper .signup_button:hover  {
    background-color: #da9895;
}

.columns.small-12.shop-plan-variation-container {
  margin-top:20px;
    margin-bottom: 50px;
    font-size: 18px;
}



.shop-plan-variation-header {
    display: flex;
    color: #bcbcbc;
}

.plans-wrapper {
    display: flex;
    justify-content:  flex-end;
    width: 70%;
    border-bottom: #b3b3b3 1px solid;


}

.plan-name-container {
    display: inline-flex;
    margin: auto;
    flex-direction: column;

}
.plan-price-box {
    margin:auto;
    padding-top: 15px;

}

.plan-name-box {
    display: inline-block;
    background-color:  #da9895;
    border-radius: 3px;
    color:#fff;
    width: 100px;
    height: 100px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
}

.shop-plan-variation-body {
    overflow: hidden;
}


.shop-plan-variation-customfields-wrapper {
    overflow: hidden;

}

.shop-plan-variation-customfields-row {
    display: flex;
    align-items: flex-end;
    width:70%;
    padding-top: 20px;
    color: #bcbcbc;
    float:right;


}

.shop-plan-variation-customfields-col {
    display: inline-flex;
    margin: auto;
}

.shop-plan-variation-customfields-titles-row {
width:30%;
float:left;
    padding-top: 15px;



}

.shop-plan-variation-price {

    width:30%;
    padding-top: 15px;

}

.shop-plan-variation-price-title {
    width: 30%;
    align-self: flex-end;
    border-bottom: #b3b3b3 1px solid;
    color: black;

}

.testy-test {
    overflow: hidden;
    border-bottom: #b3b3b3 1px solid;
}

.active-shop-variation {
    color: #b41c17;


}

.arrow-box {
    margin: auto;
    height: 15px;
}

.arrow-down {
    display:none;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #b41c17;
}

.woocommerce-variation-add-to-cart.variations_button {
    overflow: hidden;
    margin-top: 30px;

}


.label-before-camera-quantity {
    float:left;
    margin-right: 15px;
    padding-top: 5px;
}

.plan-header-title {
    font-weight: 700;
    font-size: 23px;
    padding: 15px 0;
}

.shop-plan-variation-continue {
    text-align: center;
    padding-top: 20px;
}
.shop-loader-container {
    display: none;
    height: 200px;
    background-image: url("images/spinner.gif");
    background-position: center;
    background-repeat: no-repeat;

}


/***********************************************final shop options page***********************************************************/

.shop-options-container {
    display: none;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 18px;

}
table.variations {
    display: none;
}

.period-switch-label{
    padding-bottom: 10px;
}

.shop-variation-dynamic-price {
    position: relative;
    display: block;
    margin: 30px 0 50px 0;
    overflow: hidden;
}

.shop-variation-dynamic-price-container,
.shop-variation-dynamic-price-total-container,
.shop-variation-dynamic-price-discount-container,
.shop-info-attr-container,
.shop-variation-dynamic-price-fee-container
{
    overflow: hidden;
}

.shop-variation-dynamic-price-discount-container {
    margin-bottom: 5px;
}

.shop-variation-dynamic-price-text
{
    display: inline-block;
    float:left;
}

.shop-variation-dynamic-price-text.price-output-area,
.shop-variation-dynamic-price-text.discount-output-area,
.shop-variation-dynamic-price-text.total-output-area,
.shop-variation-dynamic-price-text.fee-output-area
{
    display: inline-block;
    float:right;
}

.shop-variation-dynamic-price-fee-container {
    border-top:#b3b3b3 1px solid;
    padding-top: 10px;
}

/********************************************************info section***********************************/

.shop-info-section {
    box-shadow: 0 0 5px #b41c17 inset;
    background-image: linear-gradient(to bottom, #cfcfcf 0%, #da9895 100%);
    border-radius: 10px;
}

h2.shop-info-subscr-det {
    font-size: 36px;
    text-transform: none;
}

.plan-label-span,
.app-label-span
{
    margin: 0 0 5px 10px;
    font-weight: bold;
}

.shop-info-product-thumbnail {
    text-align: center;
    margin-top: 30px;
}

.shop-info-product-thumbnail-arrow {
    margin:15px auto;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 16px solid #003161;
}

.shop-info-product-thumbnail-plan {
    width: 140px;
    height: 50px;
    background-color: #b41c17;
    border-radius: 40px;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color:#fff;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
}


.shop-info-main-attrs {
    margin-top: 20px;

}

.shop-info-attr-container:nth-child(3) {
    margin-top: 40px;
}

.info-plan-label,
.plan-label-span,
.app-label-span{
    display: inline-block;
}

.shop-info-attr-key {
    display: inline-block;
    float: left;
}

.shop-info-attr-val{
    display: inline-block;
    float: right;
}

.shop-info-attr-container {
    padding: 10px 8px;
}

.toggle-discount-info {
    font-size: 12px;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: none;
    color: #b41c17;
    float:right;
    margin: 5px 60px 5px 0;

}
div.quantity,
input.qty {
    display: inline-block;
}




.price-per-camera-amount{
    display: inline-block;
    float: right;
}

.quantity-container,
.price-per-camera-container{
    margin: 14px 0;
    overflow: hidden;
}

.quantity-controls-container{
    overflow: hidden;
    display: inline-block;
    float: right;
}

button.shop-quantity-dec-button {
    background-color:#da9895;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

button.shop-quantity-inc-button {
    background-color:#da9895;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

button.shop-quantity-dec-button:hover,
button.shop-quantity-inc-button:hover
{
    background-color: #b41c17;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
}


button.shop-quantity-dec-button:active,
button.shop-quantity-inc-button:active {
    padding: 8px 20px;
    outline: 0;
}

button.shop-quantity-dec-button:focus,
button.shop-quantity-inc-button:focus {
    outline: 0;
}

.shop-info-product-thumbnail-title {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    color:#b41c17;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-weight: 400;
}

.shop-info-product-thumbnail img {
    width: 200px;
    height: auto;
}

.shop-variation-dynamic-price-total-container {
    color:#b41c17;
    font-size: 110%;
    font-weight: 900;
}
/*------------------------------------------------------checkout----------------------------------*/

.woocommerce-billing-fields h3 {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.woocommerce-billing-fields__field-wrapper {
   /*background-image: linear-gradient(to bottom, #cfcfcf 0%, #da9895 100%);*/
    box-shadow: 0 0 5px #b41c17 inset;
    border-radius: 10px;
    padding: 25px 35px 25px 25px;
}

span.woocommerce-input-wrapper {
    padding: 0;
}

span.woocommerce-input-wrapper input,
#billing_country_field span select {
    border-radius: 7px;
    font-weight: 300;
    box-shadow: 0 0 2px #b41c17 inset;
}

#billing_first_name_field span.woocommerce-input-wrapper,
#billing_last_name_field span.woocommerce-input-wrapper{
    width: 150px;
}

.woocommerce form .form-row label {
    float: left;
    font-weight: 400;
}

.woocommerce form .form-row {
    margin: 0 0 10px;

}

#billing_country_field span {
    width: 206px;
}

.woocommerce form span.optional {
    padding-left: 5px;
}


.woocommerce-form-coupon-toggle {
    display: none;
}

.checkout-form-custom {
    width: 50%;
    margin: 0 auto;
}

.checkout-order-summary{
    border:#b3b3b3 1px solid;
    border-radius: 10px;
    margin: 50px 30px 20px 30px;
}

.summary-header {
    text-align: center;
    border-bottom:#b3b3b3 1px solid;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Microsoft Sans Serif", sans-serif;
    color: #b41c17;
}

.summary-thumbnail-wrap {
    padding: 24px;
    overflow: hidden;
}

.summary-thumbnail-wrap img {
    width: 180px;
    height: auto;
    float: left;
}

.summary-info {
    display: inline-block;
}

.summary-info-text {
    font-size: 13px;
    color: #31313f;
}

.summary-image-wrap {
    display: inline-block;
    width: 45%;
    float:left;
}

.summary-text-wrap {
    display: inline-block;
    width: 55%;
}

.summary-cameras-amount .product-quantity {
    color: #b41c17;
    font-size: 18px ;
}

.summary-total-price-text {
    display: inline-block;
    float: left;

}
.summary-total-container {
    overflow: hidden;
    letter-spacing: 1px;
    color: #b41c17;
    font-size: 22px;
    font-weight: 600;
    font-family: "Futura Condensed Light", sans-serif;
    border-top:#b3b3b3 1px solid;
    padding: 10px 24px;
}

.summary-total-price-amount {
    display: inline-block;
    float: right;
}

.summary-total-price-amount span {
    padding: 0 10px 0 10px;
}

.col-2 .woocommerce-checkout-review-order {
    margin: 30px;
}

