@import "compass/css3";
@import "inc/vars";
@import "inc/slider"; //comment this line if you don't use slider
@import "inc/foundation"; // uncomment this line to use custom row width and column paddings

/* -----------------------------------------
   WordPress Core Classes
----------------------------------------- */
.alignnone {
	margin: 0 1em 1em 0;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 25px 1px 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 100%; /* Image does not overflow the content area */
	padding: 5px 5px 10px;
	text-align: center;
	img {
		width: auto;
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 0;
		font-size: 14px;
	}
}
.gallery-caption{
	font-size: 12px;
}

#wpadminbar {
	opacity: 0.3;
	transition: 0.2s opacity linear;
	-webkit-transform: translateZ(0);
	&:hover, &:focus {
		opacity: 1;
	}
}


/* -----------------------------------------
    Contact Form
----------------------------------------- */

/*basic Gravity Form styles and fixes, if you dont need/use this comment or delete styles below*/
@import "inc/gform";


/* -----------------------------------------
   General fixes
----------------------------------------- */

html, body {
	height: auto;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	position: static;
	overflow-x: hidden;
}

/* Placeholder styling */

input, textarea {
	@include input-placeholder {
		color: #555;
	}
}

/* Input Styling */
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
	/* STYLES GO THERE */
	margin-bottom: 0;
}

textarea[rows] {
	/*Styles for TextArea*/
	height: 150px;
	max-width: 100%;
}
[type=number]{
	-moz-appearance:textfield;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;

	margin: 0;
}

[type=checkbox],
[type=file],
[type=radio]{
	margin-bottom: 0;
}

button, .button, input[type='submit'], input[type='reset'] {
	border: none;
	padding: 10px 20px;
	margin-bottom: 0;
	background-color: $main_color;
	color: #fff;
	font-family: $font;
	@include transition(all .3s ease);
	&:hover, &:focus {
		background-color: darken($main_color, 10);
	}
}


/* -----------------------------------------
   Typography
----------------------------------------- */
body {
	color: $text_color;
	font-family: $font;
}

body, h1, h2, h3, h4, h5, h6, p, a {

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: inherit;
	font-family: $title_font;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 41px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 31px;
}

h5 {
	font-size: 26px;
}

h6 {
	font-size: 22px;
}

p {
	font-size: 16px;
	&:empty {
		display: none;
	}
	a {
		font-size: 16px;
		text-decoration: none;
	}
}

ul {
	/*basic list styles*/
	li {
		font-size: 16px;
	}
}

a {
	color: $main_color;
	@include transition(all .3s ease-in-out);
	&:hover, &:focus {
		/*basic hover and focus effects*/
		color: darken($main_color, 20);
		outline: none;
	}
}

/* ------------------------------------
    Basic Styles
------------------------------------- */

/* Clearfix */

.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}



/* Button additional styles */

.button {
	@include transition(all .3s ease-in-out);
	&:hover, &:focus {
		/*basic hover and focus effects*/
	}
}

/* Align Middle */
.align-middle {
	@include align-middle();
}

/* Pagination */

ul.pagination {
	margin: 1rem 0;
	.pagination{
		margin: 0;
		&.current {
			color: #fff;
			background: $main_color;
			display: block;
		}
	}

}

/* Search form */

#searchform {
	position: relative;
}

#s {
	padding-right: 75px;
}

#searchsubmit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: auto;
	padding: .5rem;
	cursor: pointer;
	&:after{
		//content: "\f002";
		font-family: FontAwesome;
		font-size: 20px;
	}
}


//use @extend %bgcover; to selector if you need background cover;
%bgcover {
	@include background-size(cover);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
%bgcontain{
	@include background-size(contain);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.large-row{
	max-width: 1400px;
}
/* ------------------------------------
    Header Styles
------------------------------------- */
.menu-icon-container{
	text-align: center !important;
	@include vert-align();
}
.header{
	&__top{
		background-color: $sub_color;
		padding: 4px 0;
	}
	&__bottom{
		padding: 9px 0;
	}
	.home &{
		position: relative;
	}
}
.header__language-selector,.header__login{
	@include list-unstyled();
	display: inline-block;
}
.header__language{
	display: inline-block;
	a{
		font-size: 13px;
		color: $light_text_color;
	}
	img{
		width: 22px;
		height: 16px;
	}
}
.header__login{
	li{
		display: inline-block;
		a{
			font-size: 14px;
			color: $light_text_color;
			margin: 0 23px;
			border-bottom: 1px solid transparent;
			&:hover{
				border-bottom:1px solid $light_text_color;
			}
		}
		& + li{
			a{
				position: relative;
				&:before{
					content: '';
					position: absolute;
					height: 100%;
					width: 1px;
					background-color: $light_text_color;
					top: 0;
					left:  -23px;
				}
			}
		}
	}
}
.logo img{
	max-height: 150px;
}

/* ------------------------------------
    Content Styles
------------------------------------- */
.default-page{
	p,li,a{
		font-family: $default_font_2;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: $default_font_1;
		color: $sub_color;
	}
}
.top-banner{
	padding-bottom: 31.29%;
	@extend %bgcover;
	position: relative;
}
h2.top-banner-title{
	font-size:  40px;
	position: absolute;
	width:  100%;
	bottom: 10px;
	left: 0;
	text-align: center;
	color: #3e3e40;
	padding:  0 15px;
	text-transform: capitalize;
}
.main-content{
	padding: 50px 0 70px;
	p,a{
		font-size: 30px;
		font-family: $default_font_2;
	}
	h1{
		margin-bottom:  45px;
		text-align: center;
	}
}
.main-about{
	article{
		padding-bottom:  50px;
		border-bottom: 1px solid #000;
	}
}
.page-title{
	font-family: $default_font_1;
	font-weight: 400;
	color: $sub_color;
	margin-bottom: 23px;
}
.possibilities-section{
	padding: 20px 0;
	background-color: #f4f3ef;
}
.possibilities-wrapper{
	font-size: 0;
}
.possibility-item{
	display: inline-block;
	width: 33.333%;
	padding: 15px;
	p{
		font-family: $default_font_2;
		margin-bottom: 0;
	}
}
.possibility-first-line{
	font-size: 36px;
	text-transform: uppercase;
}
.possibility-second-line{
	font-size: 60px;
	font-weight: 600;
}
.possibility-third-line{
	font-size: 36px;
	text-transform:  uppercase;

}
.where-can-be-used-section{
	padding-top: 65px;
	padding-bottom: 75px;
}
.can-be-used-item{
	font-size: 0;
	img{
		max-width: 130px;
	}
	&-img{
		padding: 0 25px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		width: 30%;
	}
	&-content{
		width: 70%;
		vertical-align: middle;
		display: inline-block;
		font-family: $default_font_2;
		h2{
			font-size: 45px;
			text-transform: capitalize;
			font-family: $default_font_2;
			font-weight: 600;
			color: #2c2e3b;
		}
		p{
			font-size: 21px;
		}
	}
}
.main-features-section{
	padding-bottom: 110px;
}
.main-features-title-row{
	border-top: 1px solid #000000;
	padding-top: 110px;
	h2{
		font-family: $default_font_1;
		color: $sub_color;
		margin-bottom: 30px;
	}
}
.main-features-list{
	list-style: none;
	margin-left: 0;
	padding-left: 10px;
	li{
		font-size: 36px;
		font-family: $default_font_2;
		color: #2c2e3b;
		padding-left: 55px;
		line-height: 1.3;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left:  0;
			top: 50%;
			@include transform(translateY(-50%));
			width: 35px;
			height: 30px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: url('../images/list-marker.png');
			@include background-size(contain);
		}
	}
}
.managment-section{
	h1,h2,h3,h4,h5,h6{
		color: $text_color;
	}
	h2{
		font-size:  50px;
		padding-bottom:  50px;
	}
}
.team-member-row{
	padding-bottom:  125px;
	& + .team-member-row{
		border-bottom:  1px solid #000;
	}
}
.team-member-info{
	h3{
		font-size:  42px;
		text-transform: capitalize;
	}
	h6{
		text-transform: none;
		font-size:  22px;
	}
	p{
		font-size:  24px;
	}
}
.about-bottom-section{
	padding-top:  55px;
	padding-bottom:  55px;
	p{
		font-size:  24px;
	}
}
h2.video-title{
	font-size:  40px;
	text-transform: capitalize;
	color: $text_color;
	padding-bottom:  30px;
}
.videos-rows{
	.row{
		padding-bottom:  50px;
	}
}
/*Contact Page*/
.contact-two-columns-section{
	padding-bottom:  100px;
	.columns{
		@include vert-align();
	}
}
.column-content{
	display: inline-block;
	text-align: left;
	h5{
		color: $text_color;
		font-size:  30px;
		margin-bottom:  0;
	}
	p,a,li{
		font-size:  30px;
	}
	a{
		color: $text_color;
		&:hover{
			color: $sub_color;
		}
	}
}
/* Blog page */
.blog-main-posts,
.blog-last-posts{
	.row{
		// max-width:  1300px;
	}
}
.blog-main-posts{
	padding-top: 55px;
}
.post-data{
	p{
		margin-bottom:  5px;
		font-size: 14px;
		font-family: $default_font_1;
	}
	span{
		padding: 0 30px;
	}
}
.blog-post-col{
	h5{
		font-size: 24px;
		a{
			color: $text_color;
			&:hover{
				color: $main_color;
			}
		}

	}
	.thumb-container{
		text-align: center;
		margin-bottom:  20px;
		img{

		}
	}
	.post-excerpt{
		p{
			line-height:  1.3;
		}
	}
}
.main-post{
	.post-excerpt{
		p{
			line-height:  1.4;
		}
	}
	h5{
		margin-bottom:  15px;
	}
}
.secondary-posts{
	margin-bottom: 10px;
	h5{
		font-size:  16px;
	}
}
.post-author-comment-container{
	border-top: 1px solid #b6b7b7;
	border-bottom: 1px solid #b6b7b7;
	font-size:  0;
	padding: 10px 0;
	p{
		margin-bottom:  0;
		font-size:  13px;
		display: inline-block;
		width:  50%;
	}
}
.post-author{
	text-align: left;
}
.post-comments-quantity{
	text-align: right;
}
.delimeter-title{
	padding: 25px 0;
	background-color: #f4f3ef;
	h1{
		margin-bottom:  0;
	}
}
.posts-list{
	article {
		padding-bottom: 20px;
		border-bottom: 1px solid #dddddd;
		margin-bottom: 20px;
	}
	.entry-meta{
		margin-bottom: 0;
	}
	#searchform{
		margin-bottom: 40px;
	}
}
.entry-meta{
	color: #666;
	font-size: 14px;
}
.thumbnail{
	margin-bottom: 20px;
}

/* Comments block */

.comment-list{
	@include list-unstyled;
}
.comment-meta{
	font-size: 14px;
}

.comment-metadata{
	color: #666;
}
.comment-content {
	font-size: 14px;
	padding-left: 25px;
	margin-top: 20px;
	border-left: 1px solid #ddd;
}
.reply{
	text-align: right;
}
.comment-reply-link{
	display: inline-block;
	padding: .33333rem .5rem;
	font-size: .8rem;
	line-height: 1;
	white-space: nowrap;
	border-radius: 0;
	background: #777;
	color: #fefefe;
}

/* 404 page */

.not-found{
	padding: 100px 0;


	.label{
		text-decoration: none;
		cursor: pointer;
		background-color: $main_color;
		&:hover{
			background-color: darken($main_color, 8);
			color: #fff;
		}
	}
}

/* Sidebar */

.widget{
	margin-bottom: 20px;
}

/*---------------------------------------
	TMPL: Home page
---------------------------------------*/
.how-it-works-section{
	background-color: #003161;
	p,a,li,#{headings()}{
		color: $light_text_color;
	}
	p{
		line-height: 1.56;
	}
}
.how-content{
	max-width: 825px;
	margin: 0 0 0 auto;
	padding: 60px 0 80px;
	text-align: justify;
	padding-right: 25px;
}
.how-image-col{
	background-position: 50% 0;
	background-repeat: no-repeat;
	@include background-size(cover);
}
.half-width-section{
	padding: 40px 0 60px;
	overflow: hidden;
}
.half-width-content{
	p{
		margin-bottom: 0;
	}
	ul{
		margin-left: 0;
	}
	li{
		list-style: none;
		position: relative;
		&:before{
			content: ' - ';
			font-size: 18px;
		}
	}


}

/* ------------------------------------
    Footer Styles
------------------------------------- */
.footer-logos-section{
	padding: 40px 0 30px;
	.columns{
		font-size: 0;
		white-space: nowrap;
		&:before {
			content: '';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
		> * {
			vertical-align: middle;
			display: inline-block;
			white-space: normal;
		}
	}
}
.footer {
	background-color: #403f3e;

	&__top{
		padding-top:  22px;
		padding-bottom:  30px;
	}
}

.sticky-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer-menu {
	@include list-unstyled;
	padding-top:  5px;
	li {
		display: inline-block;
		a {
			color: $light_text_color;
			font-size:  14px;
			font-family:  Arial, sans-serif;
			padding: 5px 6px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 0;
				height: 2px;
				left: 0;
				bottom: 0;
				background-color: $light_text_color;
				@include transition(width .4s ease-in-out);
			}
			&:hover{
				color: $light_text_color;
				&:before{
					width: 100%;
				}
			}
		}
		&.current-menu-item{
			a:before{
				width: 100%;
			}
		}
	}
}
.social-contacts{
	text-align: right;
	@include list-unstyled;
	li{
		display: inline-block;
		a{
			@include transform(scale(1));
			display: inline-block;
			&:hover{
				@include transform(scale(1.1));
			}
		}
	}
}
.copyright{

	background-color: $text_color;
	p{
		padding: 15px 0;
		margin-bottom:  0;
	}
	p,a{
		font-size:  14px;
		font-family:  Arial, sans-serif;
		color: $light_text_color;
	}



}