@font-face {
  font-family: "Futura";
  src: url("../fonts/futura.eot");
  src: url("../fonts/futura.eot?#iefix") format("embedded-opentype"), url("../fonts/futura.woff2") format("woff2"), url("../fonts/futura.woff") format("woff"), url("../fonts/futura.ttf") format("truetype"), url("../fonts/futura.svg#Petala Pro") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura Condensed Light";
  src: url("../fonts/futura-condensed-light.eot");
  src: url("../fonts/futura-condensed-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-condensed-light.woff2") format("woff2"), url("../fonts/futura-condensed-light.woff") format("woff"), url("../fonts/futura-condensed-light.ttf") format("truetype"), url("../fonts/futura-condensed-light.svg#GiovialeW00-Bold") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura Condensed Bold";
  src: url("../fonts/futura-condensed-bold.eot");
  src: url("../fonts/futura-condensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-condensed-bold.woff2") format("woff2"), url("../fonts/futura-condensed-bold.woff") format("woff"), url("../fonts/futura-condensed-bold.ttf") format("truetype"), url("../fonts/futura-condensed-bold.svg#Petala Pro") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* -----------------------------------------
   Home page slider
----------------------------------------- */
#home-slider {
  min-height: 520px;
  background-color: #b41c17;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#home-slider .slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#home-slider .slide-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#home-slider .slick-list,
#home-slider .slick-track,
#home-slider .slick-slide {
  height: 100% !important;
}
#home-slider .slick-slide {
  position: relative;
  min-height: calc(100vh - 100px);
  /*define the height of slide*/
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
#home-slider .slick-dots {
  margin-bottom: 0;
  display: inline-block !important;
  right: 15px;
  width: auto;
}
#home-slider .slick-dots li.slick-active button:before {
  background-color: #b41c17;
}
#home-slider .slick-dots li button:before {
  background-color: #ffffff;
}
#home-slider .slick-dots li button:focus:before {
  background-color: #b41c17;
}
#home-slider .slick-dots li button:hover:before {
  background-color: #b41c17;
}
#home-slider .slide-reverse {
  min-height: calc(100vh - 100px);
  /*define the height of slide*/
  position: relative;
  background-color: #000;
}
#home-slider .slide-reverse .slide-image-container,
#home-slider .slide-reverse .slide-video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home-slider .slide-reverse .slide-video-container {
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#home-slider .slide-reverse .slide-image-container {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#home-slider .slide-button-container {
  position: relative;
  z-index: 10;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}
#home-slider .slide-button-container div {
  display: inline-block;
  vertical-align: middle;
}
#home-slider .slide-button-container span {
  padding: 0 10px;
  display: block;
  color: #fff;
  text-align: center;
}
#home-slider .slide-button-container img {
  vertical-align: middle;
  display: inline-block;
  padding: 10px 15px 0;
  max-width: 200px;
}
#home-slider .top-button-text {
  background-color: #b41c17;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
  font-size: 50px;
  font-family: "Futura Condensed Bold", sans-serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
#home-slider .bottom-button-text {
  background-color: #1f2d59;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0;
  border-radius: 0 0 8px 8px;
  font-size: 26px;
}
#home-slider .designed-featured-container {
  position: relative;
  z-index: 20;
  display: inline-block;
}
#home-slider .designed-featured-container .designed-list {
  padding-top: 20px;
}
#home-slider .designed-featured-container .designed-list li {
  color: #fff;
  font-family: "Futura", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#home-slider .designed-featured-container .designed-list li span {
  background-color: #b41c17;
}
#home-slider .designed-featured-container .designed-list li:first-child span {
  background-color: #1f2d59;
}
#home-slider .designed-featured-container .featured-list {
  padding-top: 20px;
}
#home-slider .designed-featured-container .featured-list li {
  color: #fff;
  font-family: "Futura", sans-serif;
  font-weight: 600;
  display: block;
  font-size: 16px;
}
#home-slider .designed-featured-container .featured-list li span {
  background-color: #1f2d59;
}
#home-slider .designed-featured-container .featured-list li:first-child {
  font-size: 21px;
}
#home-slider .designed-featured-container .featured-list li:first-child span {
  background-color: #b41c17;
}
#home-slider .designed-featured-container ul {
  margin: 0;
}
#home-slider .designed-featured-container li {
  padding-bottom: 1px;
}
#home-slider .designed-featured-container span {
  display: inline-block;
  text-align: right;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0;
  border-radius: 0 8px 8px 0;
  padding-right: 15px;
  padding-left: 10px;
  min-width: 210px;
}

@media only screen and (max-width: 1024px) {
  #home-slider {
    min-height: 650px;
  }
  #home-slider .slick-slide {
    min-height: 650px;
    /*define the height of slide*/
  }
  #home-slider .slide-reverse {
    min-height: 650px;
    /*define the height of slide*/
  }
  #home-slider .top-button-text {
    font-size: 25px;
  }
  #home-slider .bottom-button-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 640px) {
  #home-slider {
    min-height: 300px;
  }
  #home-slider .designed-featured-container {
    display: none;
  }
  #home-slider .slick-slide {
    min-height: 300px;
    /*define the height of slide*/
  }
  #home-slider .slide-reverse {
    min-height: 300px;
    /*define the height of slide*/
  }
  #home-slider .top-button-text {
    font-size: 25px;
  }
  #home-slider .bottom-button-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  #home-slider .designed-featured-container {
    display: none;
  }
  #home-slider .top-button-text {
    font-size: 20px;
  }
  #home-slider .bottom-button-text {
    font-size: 16px;
  }
  #home-slider .slide-button-container img {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .top-button-text {
    font-size: 16px;
  }

  .bottom-button-text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1025px) {
  #home-slider .slick-slide {
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
    overflow: hidden;
  }
  #home-slider .slide-reverse {
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    position: relative;
  }
  #home-slider .slide-button-container {
    text-align: right;
    padding-right: 90px;
  }
  #home-slider .slide-button-container div {
    min-width: 630px;
  }
  #home-slider .slide-button-container img {
    max-width: 150px;
  }
  #home-slider .first-button-container {
    text-align: center;
  }
  #home-slider .top-button-text {
    font-size: 30px;
  }
  #home-slider .bottom-button-text {
    font-size: 18px;
  }
  #home-slider .designed-featured-container .designed-list li {
    font-size: 15px;
  }
  #home-slider .designed-featured-container .designed-list li span {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home-slider .designed-featured-container .designed-list li:first-child {
    font-size: 18px;
  }
  #home-slider .designed-featured-container .designed-list li:first-child span {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home-slider .designed-featured-container .featured-list li {
    font-size: 15px;
  }
  #home-slider .designed-featured-container .featured-list li span {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home-slider .designed-featured-container .featured-list li:first-child {
    font-size: 18px;
  }
  #home-slider .designed-featured-container .featured-list li:first-child span {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home-slider .designed-featured-container span {
    padding-left: 20px;
    min-width: 150px;
  }
}
@media only screen and (min-width: 1500px) {
  #home-slider {
    min-height: 640px;
  }
  #home-slider .slick-slide {
    min-height: calc(100vh - 100px);
  }
  #home-slider .slide-reverse {
    min-height: calc(100vh - 100px);
  }
  #home-slider .slide-button-container {
    padding-right: 0;
  }
  #home-slider .slide-button-container div {
    min-width: 770px;
  }
  #home-slider .slide-button-container img {
    max-width: 200px;
  }
  #home-slider .top-button-text {
    font-size: 45px;
  }
  #home-slider .bottom-button-text {
    font-size: 26px;
  }
  #home-slider .designed-featured-container .designed-list li {
    font-size: 16px;
  }
  #home-slider .designed-featured-container .designed-list li span {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #home-slider .designed-featured-container .designed-list li:first-child {
    font-size: 21px;
  }
  #home-slider .designed-featured-container .designed-list li:first-child span {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #home-slider .designed-featured-container .featured-list li {
    font-size: 16px;
  }
  #home-slider .designed-featured-container .featured-list li span {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #home-slider .designed-featured-container .featured-list li:first-child {
    font-size: 21px;
  }
  #home-slider .designed-featured-container .featured-list li:first-child span {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #home-slider span {
    padding-left: 50px;
  }

  .small-bottom-padding {
    padding-bottom: 30px;
  }

  .big-bottom-padding {
    padding-bottom: 80px;
  }

  .big-top-padding {
    padding-top: 130px;
  }
}
@media only screen and (min-width: 1601px) {
  #home-slider {
    min-height: 700px;
  }
  #home-slider .slick-slide {
    min-height: calc(100vh - 100px);
  }
  #home-slider .slide-reverse {
    min-height: calc(100vh - 100px);
  }
}
/* Foundation tweaks */
.row {
  max-width: 1270px;
}

/* -----------------------------------------
   WordPress Core Classes
----------------------------------------- */
.alignnone {
  margin: 0 1em 1em 0;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 0 25px 1px 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 100%;
  /* Image does not overflow the content area */
  padding: 5px 5px 10px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  margin-bottom: 10px;
}
.wp-caption p {
  margin-bottom: 0;
  font-size: 14px;
}

.gallery-caption {
  font-size: 12px;
}

#wpadminbar {
  opacity: 0.3;
  transition: 0.2s opacity linear;
  -webkit-transform: translateZ(0);
}
#wpadminbar:hover, #wpadminbar:focus {
  opacity: 1;
}

/* -----------------------------------------
    Contact Form
----------------------------------------- */
/*basic Gravity Form styles and fixes, if you dont need/use this comment or delete styles below*/
.gform_wrapper ul {
  list-style: none;
}

.gform_fields {
  margin: 0;
}

.gfield {
  list-style: none;
  margin-bottom: 20px;
}

.gfield_label {
  display: none;
}

.ginput_container ul {
  margin-left: 0;
}

.gfield_error input, .gfield_error textarea {
  border-color: red;
}

.gfield_description {
  margin-top: 10px;
}

.gform_confirmation_message {
  margin-bottom: 15px;
}

.gform_footer {
  text-align: right;
  /*aligning of submit button*/
}

.validation_error {
  margin-bottom: 15px;
  padding: 5px;
  color: #990000;
  border: 1px solid red;
}

.validation_message {
  margin-bottom: 10px;
  color: #990000;
}

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font-size: 11px;
  z-index: 9999 !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.ui-datepicker a {
  text-decoration: none;
}
.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}
.ui-datepicker thead {
  background: #f7f7f7;
  border-bottom: 1px solid #bbb;
}
.ui-datepicker thead th {
  padding: 3px;
  text-align: center;
  border: 1px solid #ddd;
}
.ui-datepicker tbody {
  border: none;
}
.ui-datepicker tbody td {
  padding: 0;
  border: 1px solid #bbb;
}
.ui-datepicker tbody th {
  text-transform: uppercase;
  text-align: center;
  font-size: 6pt;
  padding: 5px 0;
  color: #666;
}
.ui-datepicker tbody td span, .ui-datepicker tbody td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666;
}

.ui-datepicker-header {
  background-color: #666;
  /* set the header background color */
  color: #fff;
  font-weight: 700;
  border: none;
}
.ui-datepicker-header:after {
  content: '';
  clear: both;
  display: table;
}

.ui-datepicker-month,
.ui-datepicker-year {
  width: 50%;
  float: left;
  padding: 5px 20px 5px 5px;
  height: auto;
  font-size: 14px;
  margin-bottom: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  font-size: 12px;
  color: #fff;
  padding: 5px;
  line-height: 1.4;
  width: 50%;
  float: left;
}

.ui-datepicker-next {
  text-align: right;
}

.ui-datepicker-calendar {
  margin: 0 0 0 0 !important;
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
}
.ui-datepicker-calendar .ui-state-hover {
  background: #fff;
}
.ui-datepicker-calendar .ui-state-active {
  background: #fff2aa;
  /* set the active date background color */
  border: 1px solid #c19163;
  /* set the active date border color */
  position: relative;
  margin: -1px;
  height: 32px;
  width: 32px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}
.ui-datepicker-unselectable.ui-state-disabled {
  background-color: #d7d7d7;
}

/* -----------------------------------------
   General fixes
----------------------------------------- */
html, body {
  height: auto;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: static;
  overflow-x: hidden;
}

/* Placeholder styling */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #555;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #555;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #555;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #555;
}

/* Input Styling */
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  /* STYLES GO THERE */
  margin-bottom: 0;
}

textarea[rows] {
  /*Styles for TextArea*/
  height: 150px;
  max-width: 100%;
}

[type=number] {
  -moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type=checkbox],
[type=file],
[type=radio] {
  margin-bottom: 0;
}

button, .button, input[type='submit'], input[type='reset'] {
  border: none;
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: #1f2d59;
  color: #fff;
  font-family: "Futura", sans-serif;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover, button:focus, .button:hover, .button:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
  background-color: #121a33;
}

/* -----------------------------------------
   Typography
----------------------------------------- */
body {
  color: #000;
  font-family: "Futura", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: inherit;
  font-family: "Futura Condensed Light", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 16px;
}
p:empty {
  display: none;
}
p a {
  font-size: 16px;
  text-decoration: none;
}

ul {
  /*basic list styles*/
}
ul li {
  font-size: 16px;
}

a {
  color: #1f2d59;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
  /*basic hover and focus effects*/
  color: #05070d;
  outline: none;
}

/* ------------------------------------
    Basic Styles
------------------------------------- */
/* Clearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

/* Button additional styles */
.button {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover, .button:focus {
  /*basic hover and focus effects*/
}

/* Align Middle */
.align-middle {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Pagination */
ul.pagination {
  margin: 1rem 0;
}
ul.pagination .pagination {
  margin: 0;
}
ul.pagination .pagination.current {
  color: #fff;
  background: #1f2d59;
  display: block;
}

/* Search form */
#searchform {
  position: relative;
}

#s {
  padding-right: 75px;
}

#searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: .5rem;
  cursor: pointer;
}
#searchsubmit:after {
  font-family: FontAwesome;
  font-size: 20px;
}

.top-banner {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.large-row {
  max-width: 1400px;
}

/* ------------------------------------
    Header Styles
------------------------------------- */

.menu-icon-container {
  text-align: center !important;
  font-size: 0;
  white-space: nowrap;
}
.menu-icon-container:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.menu-icon-container > * {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}

.header__top {
  background-color: #b41c17;
  padding: 4px 0;
}
.header__bottom {
  padding: 9px 0;
}
.home .header {
  position: relative;
}

.header__language-selector, .header__login {
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.header__language {
  display: inline-block;
}
.header__language a {
  font-size: 13px;
  color: #fff;
}
.header__language img {
  width: 22px;
  height: 16px;
}

.header__login li {
  display: inline-block;
}
.header__login li a {
  font-size: 14px;
  color: #fff;
  margin: 0 23px;
  border-bottom: 1px solid transparent;
}
.header__login li a:hover {
  border-bottom: 1px solid #fff;
}
.header__login li + li a {
  position: relative;
}
.header__login li + li a:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  top: 0;
  left: -23px;
}

.logo img {
  max-height: 150px;
}

/* ------------------------------------
    Content Styles
------------------------------------- */




.default-page p, .default-page li, .default-page a {
  font-family: "Microsoft YaHei", sans-serif;
}
.default-page h1, .default-page h2, .default-page h3, .default-page h4, .default-page h5, .default-page h6 {
  font-family: "Microsoft Sans Serif", sans-serif;
  color: #b41c17;
}

.top-banner {
  padding-bottom: 31.29%;
  position: relative;
}

h2.top-banner-title {
  font-size: 40px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
  color: #3e3e40;
  padding: 0 15px;
  text-transform: capitalize;
}

.main-content {
  padding: 50px 0 70px;
}
.main-content p, .main-content a {
  font-size: 30px;
  font-family: "Microsoft YaHei", sans-serif;
}
.main-content h1 {
  margin-bottom: 45px;
  text-align: center;
}

.main-about article {
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}

.page-title {
  font-family: "Microsoft Sans Serif", sans-serif;
  font-weight: 400;
  color: #b41c17;
  margin-bottom: 23px;
}

.possibilities-section {
  padding: 20px 0;
  background-color: #f4f3ef;
}

.possibilities-wrapper {
  font-size: 0;
}

.possibility-item {
  display: inline-block;
  width: 33.333%;
  padding: 15px;
}
.possibility-item p {
  font-family: "Microsoft YaHei", sans-serif;
  margin-bottom: 0;
}

.possibility-first-line {
  font-size: 36px;
  text-transform: uppercase;
}

.possibility-second-line {
  font-size: 60px;
  font-weight: 600;
}

.possibility-third-line {
  font-size: 36px;
  text-transform: uppercase;
}

.where-can-be-used-section {
  padding-top: 65px;
  padding-bottom: 75px;
}

.can-be-used-item {
  font-size: 0;
}
.can-be-used-item img {
  max-width: 130px;
}
.can-be-used-item-img {
  padding: 0 25px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.can-be-used-item-content {
  width: 70%;
  vertical-align: middle;
  display: inline-block;
  font-family: "Microsoft YaHei", sans-serif;
}
.can-be-used-item-content h2 {
  font-size: 45px;
  text-transform: capitalize;
  font-family: "Microsoft YaHei", sans-serif;
  font-weight: 600;
  color: #2c2e3b;
}
.can-be-used-item-content p {
  font-size: 21px;
}

.main-features-section {
  padding-bottom: 110px;
}

.main-features-title-row {
  border-top: 1px solid #000000;
  padding-top: 110px;
}
.main-features-title-row h2 {
  font-family: "Microsoft Sans Serif", sans-serif;
  color: #b41c17;
  margin-bottom: 30px;
}

.main-features-list {
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
}
.main-features-list li {
  font-size: 36px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #2c2e3b;
  padding-left: 55px;
  line-height: 1.3;
  position: relative;
}
.main-features-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/list-marker.png");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.managment-section h1, .managment-section h2, .managment-section h3, .managment-section h4, .managment-section h5, .managment-section h6 {
  color: #000;
}
.managment-section h2 {
  font-size: 50px;
  padding-bottom: 50px;
}

.team-member-row {
  padding-bottom: 125px;
}
.team-member-row + .team-member-row {
  border-bottom: 1px solid #000;
}

.team-member-info h3 {
  font-size: 42px;
  text-transform: capitalize;
}
.team-member-info h6 {
  text-transform: none;
  font-size: 22px;
}
.team-member-info p {
  font-size: 24px;
}

.about-bottom-section {
  padding-top: 55px;
  padding-bottom: 55px;
}
.about-bottom-section p {
  font-size: 24px;
}

h2.video-title {
  font-size: 40px;
  text-transform: capitalize;
  color: #000;
  padding-bottom: 30px;
}

.videos-rows .row {
  padding-bottom: 50px;
}

/*Contact Page*/
.contact-two-columns-section {
  padding-bottom: 100px;
}
.contact-two-columns-section .columns {
  font-size: 0;
  white-space: nowrap;
}
.contact-two-columns-section .columns:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.contact-two-columns-section .columns > * {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}

.column-content {
  display: inline-block;
  text-align: left;
}
.column-content h5 {
  color: #000;
  font-size: 30px;
  margin-bottom: 0;
}
.column-content p, .column-content a, .column-content li {
  font-size: 30px;
}
.column-content a {
  color: #000;
}
.column-content a:hover {
  color: #b41c17;
}

/* Blog page */
.blog-main-posts {
  padding-top: 55px;
}

.post-data p {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Microsoft Sans Serif", sans-serif;
}
.post-data span {
  padding: 0 30px;
}

.blog-post-col h5 {
  font-size: 24px;
}
.blog-post-col h5 a {
  color: #000;
}
.blog-post-col h5 a:hover {
  color: #1f2d59;
}
.blog-post-col .thumb-container {
  text-align: center;
  margin-bottom: 20px;
}
.blog-post-col .post-excerpt p {
  line-height: 1.3;
}

.main-post .post-excerpt p {
  line-height: 1.4;
}
.main-post h5 {
  margin-bottom: 15px;
}

.secondary-posts {
  margin-bottom: 10px;
}
.secondary-posts h5 {
  font-size: 16px;
}

.post-author-comment-container {
  border-top: 1px solid #b6b7b7;
  border-bottom: 1px solid #b6b7b7;
  font-size: 0;
  padding: 10px 0;
}
.post-author-comment-container p {
  margin-bottom: 0;
  font-size: 13px;
  display: inline-block;
  width: 50%;
}

.post-author {
  text-align: left;
}

.post-comments-quantity {
  text-align: right;
}

.delimeter-title {
  padding: 25px 0;
  background-color: #f4f3ef;
}
.delimeter-title h1 {
  margin-bottom: 0;
  text-transform: none;
}
.blog-last-posts .row{
  padding-top: 35px;
}
.blog-last-posts h6{
  margin-bottom:  10px;
  padding-bottom:  15px;
  text-align: center;
  line-height:  1;
  position: relative;
}
.blog-last-posts h6:before{
  content: '';
  position: absolute;
  height: 1px;
  width:  100%;
  max-width: 85px;
  bottom: 0;
  left: 50%;
  background-color: #babbbb;
    -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.blog-last-posts h6 a{
  font-size:  16px;
  color: #212121;
}
.blog-last-posts h6 a:hover{
  color: #b41c17;
}
.posts-list article {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}
.posts-list .entry-meta {
  margin-bottom: 0;
}
.posts-list #searchform {
  margin-bottom: 40px;
}
.single{
  background-color: #f5f5f5;
}

.post-wrapper .row{
  background-color: #fefefe;
}
.post-wrapper .page-title{
  color: #212121;
  font-size:  30px;
  margin-bottom:  10px;
}
.post-wrapper .comments-quantitty{
  width: 50%;
  display: inline-block;
  margin-left:  -4px;
  vertical-align: top;
 text-align: right;
}
.post-wrapper .post-author-date{
  width: 50%;
  display: inline-block;
  margin-left:  -4px;
  vertical-align: top;
 text-align: left;
}
.post-wrapper .post-data{
  padding-bottom:  1px;
}
.post-wrapper .post-data span{
  padding: 0;
}
.post-wrapper article p{
font-size:  16px;
margin-bottom:  25px;
}
.post-wrapper article a{
  font-size:  16px;
}
.entry-meta {
  color: #666;
  font-size: 14px;
}

.thumbnail {
  /*margin-bottom: 20px;*/
}

/* Comments block */
.comment-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.comment-meta {
  font-size: 14px;
}

.comment-metadata {
  color: #666;
}

.comment-content {
  font-size: 14px;
  padding-left: 90px;
  margin-top: 15px;
}

.reply {
  text-align: right;
}

.comment-reply-link {
  display: inline-block;
  padding: 10px 30px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #2e355c;
  color: #fefefe;
}
.comment-reply-link:hover{
  background-color: #b41c17;
  color: #fff;
}
.comments-title{
  font-size:  18px;
  font-family:  "Microsoft YaHei", sans-serif;
  text-transform: capitalize;
  font-weight:  400;
  color: #212121;
}
.comment-list .says{
  display: none;
}
.comment-list .fn{
  font-size:  16px;
  font-weight:  400;
  font-family: "Microsoft YaHei", sans-serif;
}
.comment-list  .comment-body{
  position: relative;
}
.comment-list .comment-meta{
  padding-left:  90px;
}
.comment-list .comment-meta img{
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  height:  65px;
}
.comment-list .comment-author, .comment-list .comment-metadata{
  display: inline-block;
  vertical-align: middle;
}
.comment-reply-title{
  font-size:  18px;
   font-family:  "Microsoft YaHei", sans-serif;
   text-transform: none;
   color: #212121;
}
.comment-notes{
  margin-bottom:  0;
  display: none;
}
.comment-form p{
  margin-bottom:  10px;

}
.comment-form input, .comment-form textarea{
   border-radius: 5px;
   border: 1px solid #ababab;

}
.comment-form .form-submit{
  text-align: right;
}
.comment-form .form-submit input {
  display: inline-block;
  padding: 10px 30px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #2e355c;
  font-family:  "Microsoft YaHei", sans-serif;
  color: #fefefe;
}
.comment-form .form-submit input:hover{
  background-color: #b41c17;
  color: #fff;
}
/* 404 page */
.not-found {
  padding: 100px 0;
}
.not-found .label {
  text-decoration: none;
  cursor: pointer;
  background-color: #1f2d59;
}
.not-found .label:hover {
  background-color: #141e3b;
  color: #fff;
}

/* Sidebar */
.widget {
  margin-bottom: 20px;
}

/*---------------------------------------
	TMPL: Home page
---------------------------------------*/
.how-it-works-section {
  background-color: #003161;
}
.how-it-works-section p, .how-it-works-section a, .how-it-works-section li, .how-it-works-section h1, .how-it-works-section h2, .how-it-works-section h3, .how-it-works-section h4, .how-it-works-section h5, .how-it-works-section h6 {
  color: #fff;
}
.how-it-works-section p {
  line-height: 1.56;
}

.how-content {
  max-width: 825px;
  margin: 0 0 0 auto;
  padding: 60px 0 80px;
  text-align: justify;
  padding-right: 25px;
}

.how-image-col {
  background-position: 50% 0;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.half-width-section {
  padding: 40px 0 60px;
  overflow: hidden;
}

.half-width-content p {
  margin-bottom: 0;
}
.half-width-content ul {
  margin-left: 0;
}
.half-width-content li {
  list-style: none;
  position: relative;
}
.half-width-content li:before {
  content: ' - ';
  font-size: 18px;
}

/* ------------------------------------
    Footer Styles
------------------------------------- */
.footer-logos-section {
  padding: 40px 0 30px;
}
.footer-logos-section .columns {
  font-size: 0;
  white-space: nowrap;
}
.footer-logos-section .columns:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.footer-logos-section .columns > * {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}

.footer {
  background-color: #403f3e;
}
.footer__top {
  padding-top: 22px;
  padding-bottom: 30px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #fff;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px 6px;
  position: relative;
}
.footer-menu li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.footer-menu li a:hover {
  color: #fff;
}
.footer-menu li a:hover:before {
  width: 100%;
}
.footer-menu li.current-menu-item a:before {
  width: 100%;
}

.social-contacts {
  text-align: right;
  margin: 0;
  list-style: none;
  padding: 0;
}
.social-contacts li {
  display: inline-block;
}
.social-contacts li a {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
}
.social-contacts li a:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.copyright {
  background-color: #000;
}
.copyright p {
  padding: 15px 0;
  margin-bottom: 0;
}
.copyright p, .copyright a {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #fff;
}

