@import "compass/css3";
@import "inc/vars";

/*-=Tablet screens=-*/
@media only screen and (max-width: 1024px) {
	.logo{
		text-align: center;
	}
	.possibility-item{
		width: 50%;
	}
	.main-features-list-col{
		text-align: center;
	}
	.main-features-list{
		display: inline-block;
		text-align: left;
	}
	.team-member-info{
	h3{
		font-size:  35px;
	}
	h6{
		text-transform: none;
		font-size:  20px;
	}
	p{
		font-size:  16px;
	}
}
	/*max-width 1024px, tablet screens*/
}
@media only screen and (max-width: 800px) {
	.footer {
		&__top{
			.columns{
				width: 100%;
			}
		}
	}
	.footer-menu,
	.social-contacts{
		text-align: center;
	}
	.social-contacts{
		margin-top:  20px;
	}

}
/*-=Small screens=-*/
@media only screen and (max-width: 640px) {
	/* TOP BAR Mobile STYLING */
	h1,h2{
		font-size: 26px;
	}
	.default-page {
		.main-content{
			.alignleft{
				display: block;
				margin: 0 auto 25px;
			}
		}
	}
	.title-bar {
		background-color: $main_color; /* collapsed menu bar color */
		padding: 0;
		line-height: 45px;
		.title-bar-title {
			vertical-align: top;
		}
		.menu-icon {
			position: relative;
			display: inline-block;
			padding: 0;
			width: 20px;
			height: 45px;
			background-color: transparent;
			vertical-align: top;
			cursor: pointer;
			outline: none;
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background: #fefefe;
				top: 50%;
				left: 0;
				margin-top: -9px;
				@include box-shadow(0 7px 0 #fefefe, 0 14px 0 #fefefe);
			}
		}
	}

	.top-bar {
		display: none;
		height: auto;
		padding: 0;
		background: $main_color; /* menu list background color */
		ul {
			background: transparent;
			@include list-unstyled;
			li {
				> a {
					display: block;
					font-family: $default_font_1;
					color: white; /* menu item text color */
					font-size: 14px;
					background: $main_color; /* menu item background color */
					line-height: 45px;
					padding: 0 15px;
					&:hover {
						background: darken($main_color, 5) !important; /* menu item background color on hover */
					}
				}
				&.current-menu-item, &.current_page_ancestor {
					> a {
						background: lighten($main_color, 5) !important; /* current/parent menu item background color */
					}
				}
				&.has-dropdown {
					a:after {
						display: none;
					}
					.accordion-toggle {
						display: block;
						position: absolute;
						width: 50px;
						height: 45px;
						right: 0;
						top: 0;
						color: #fff; /* dropdown arrow color */
						z-index: 100;
						text-align: center;
						i.fa {
							font-size: 13px;
							line-height: 1;
							height: 13px;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							margin: auto;
						}
					}
				}
				&[aria-expanded="true"] {
					> a {
						background: darken($main_color, 3); /* menu item background color on open dropdown */
						.accordion-toggle i.fa {
							@include transform(rotate(90deg));
						}
					}
				}
				.submenu a {
					padding-left: 15px;
					background-color: #f6f7f9;
					padding-bottom: 10px;
					color: $text_color;
					span{
						display: inline-block;
						max-width: calc(100% - 150px);
						line-height:  1.2;
						padding-left:  15px;
						padding-top:  10px;
						vertical-align: top;
					}
					.menu-icon-container{
						padding-left:  0;
						max-width: 150px;
					}
					&:hover{
						background-color: #26376c !important;
						color: $light_text_color;
					}
				}
				.submenu{
					.current-menu-item{
						a{
							color: $light_text_color;
						}
					}
				}
			}
		}
	}
	.alignright, .alignleft, .aligncenter, .alignnone {
		float: none;
		margin: 0 0 1em;
	}
	.header{
		&__bottom{
			padding: 9px 0 0;
		}
	}
	.logo{
		padding-bottom: 10px;
	}
	.how-content{
		padding-right: 0;
	}
	.footer-logos-section{
		img{
			margin-bottom: 15px;
		}
	}
	.how-image-col{
		padding-bottom: 67%;
	}
	.default-page{

	}
	.top-banner{
		padding-bottom: 55%;
	}
	.main-content{
		p,a{
			font-size: 20px;
		}
	}
	.possibility-item{
		width: 100%;
	}
	.can-be-used-item{
		margin-bottom: 60px;
		&-img{
			width: 100%;
			display: block;
			margin-bottom: 15px;
		}
		&-content{
			width: 100%;
			display: block;
			text-align: center;
			h2{
				font-size: 45px;
			}
			p{
				font-size: 21px;
			}
		}
	}
	.main-features-list{
		li{
			font-size: 26px;
		}
	}
	.managment-section h2{
		font-size:  28px;
	}
	.team-member-photo-container{
		text-align: center;
	}
	.team-member-row{
		padding-bottom:  50px;
	}
	.team-member-info p{
		font-size:  20px;
	}
	.about-bottom-section p{
		font-size:  20px;
	}
	h2.video-title{
		font-size:  30px;
	}
	h2.top-banner-title{
		font-size: 28px;
	}
}

/* max-width 640px and lower. Use this for mobiles only */
@media only screen and (max-width: 500px) {
	.top-bar{
		ul {
			li{
				.submenu a {
					padding-left: 15px;
					span{
						max-width: calc(100% - 90px);
					}
					.menu-icon-container{
						max-width: 90px;
					}
				}
			}
		}

	}
	.footer-menu{
		li{
			display: block;
			a{
				display: inline-block;
			}
		}
	}
	.possibility-item{
		margin-top: 20px;
	}
	.possibility-second-line{
		font-size: 50px;
	}
	.can-be-used-item{
		&-content{
			h2{
				font-size: 35px;
			}
			p{
				font-size: 14px;
			}
		}
	}
	.main-features-list{
		li{
			padding-left: 45px;
			font-size: 18px;
			margin-bottom: 25px;
		}
	}
	h2.top-banner-title{
		font-size: 24px;
	}
}
/*-=Medium screens=-*/
@media only screen and (min-width: 641px) {
	/* TOP BAR STYLING */
	.header__bottom{
		.row{
			position: relative;
		}
	}
	.title-bar {
		display: none;
	}

	.top-bar {
		padding: 0;
		background-color: transparent;
		ul {
			background: transparent;
			@include list-unstyled;
		}
		.header-menu {
			li {
				float: left;
				background-color: transparent;
				padding: 0 4px;
				> a {
					/* Regular menu item style */
					display: block;
					padding: 0;
					background: transparent;
					font-size: 14px;
					line-height:50px;
					color: #202d63;
					font-family: $default_font_1;
					text-transform: uppercase;
					text-shadow: none;
				}
				&.current-menu-item, &.current-menu-ancestor, &.current_page_parent {
					> a {
						/* Style of Current page and Ancestor page */
						background: transparent;
						color: $sub_color;
					}
				}
				&.has-dropdown {
					position: static;
					> a {
						/* Style of item with dropdown */
						padding: 0 15px;
						&:after {
							/* Hide dropdown arrow */
							display: none !important;
						}
						&:hover {
							/* Hover state for dropdown link */

						}
					}
				}
				> a:hover {
					/* menu item style on hover */
					background: transparent;
					color: $sub_color;
				}
			}
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}

		/* Dropdown item styling */

		ul li:hover > a {
			/* Parent link style on dropdown hover */
			background: transparent;
			color: $main_color;
		}

		.submenu {
			display: none;
			border: none;
			font-size:  0;
			&.js-dropdown-active{
				display: block;
			}
			li {
				width:  16.6666%;
				display: inline-block;
				padding: 0;
				> a {
					text-align: center;
					display: block;
					/* Regular link in dropdown */
					background: #f6f7f9;
					color: $text_color;
					padding: 20px 10px 25px;
					line-height:  1.3;
					img{
						width:  100%;
						max-width:  110px;
						margin: 0 auto;
						margin-bottom:  8px;
					}
					&:hover {
						/* Dropdown link on hover */
						background-color: $light_text_color;
						span{
							color: $text_color;
						}
					}
					span{
						font-size:  13px;
						text-transform: none;
						line-height:  1.3;
						display: block;
						text-align: left;
					}
				}
				&.current-menu-item{
					a{
						background-color: $light_text_color;
						span{
							color: $text_color;
						}
					}
				}
				& + li{
					> a{
						position: relative;
						&:before{
							content: '';
							position: absolute;
							width:  1px;
							left: 0;
							height:  calc(100% - 25px);
							max-height: 105px;
							bottom: 25px;
							background-color: #9c9fad;
						}
					}
				}
			}
		}
		.is-dropdown-submenu .is-dropdown-submenu {
			margin-top: 0;
			li {
				a {
					/* Styles for 2nd level dropdown menu link */

				}
			}
		}
	}
.dropdown.menu>li.opens-right>.is-dropdown-submenu{
	top: calc(100% + 9px);
}
	/* Align Menu to the right*/
		 .top-bar .header-menu { float:right; }
	/* Align Menu to the center
		 .top-bar .header-menu { text-align: center; }
		 .top-bar .header-menu > li{ float: none; display: inline-block; } */
	.contact-two-columns-section{
		.columns + .columns{
			border-left: 1px solid #262221;
		}
	}
}

/* min-width 641px */
@media only screen and (min-width:801px){
	.top-bar .header-menu {
		li{
			padding:  0 10px;
			>a{
				font-size: 16px;
			}
			.submenu{
				li{
					padding: 0;
				}
			}
		}
	}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.top-bar .header-menu {
		text-align: center;
		display: block;
		float: none;
		/* li{
			padding: 0 9px;
		} */
		> li{ float: none; display: inline-block; }
	}
	h2.top-banner-title{
		font-size: 35px;
	}
	/* min-width 641px and max-width 1024px, use when QAing tablet-only issues*/
}

/*-=Large screens=-*/
@media only screen and (min-width: 1025px) {
	.top-bar{
		 .header-menu li{
			padding:  0 9px;
			>a{
				font-size:  16px;
			}
		}
		.submenu {
			li {
				padding: 0;
				> a {

					span{
						font-size:  16px;
					}
				}
			}
		}

	}
	.can-be-used-item{
		img{
			max-width: 100px;
		}
		&-content{
			h2{
				font-size: 35px;
			}
			p{
				font-size: 16px;
			}
		}
	}
	.main-features-list{
		li{
			font-size: 27px;
		}
	}
	.default-page.without-banner{
		padding-top: 100px;
	}
	.header{
		position: absolute;
		top: 0;
		left:  0;
		width: 100%;
		z-index: 1;
		&__bottom{
			background-color: $light_text_color;
		}
		.home &{
			position: relative;
		}
	}
	/*min-width 1025px, large screens*/
}

@media only screen and (min-width: 1201px) {
	.top-bar{
		 .header-menu li{
			padding:  0 15px;
			>a{
				font-size:  18px;
			}
		}
		.submenu{
			li{
				padding: 0;
				a{
					padding: 20px 20px 25px;
				}
			}
		}
	}
	.can-be-used-item{
		img{
			max-width: 130px;
		}
		&-content{
			h2{
				font-size: 40px;
			}
			p{
				font-size: 20px;
			}
		}
	}
	.main-features-list{
		li{
			font-size: 33px;
		}
	}
	.team-member-info{
		padding-left:  115px;
		h6{
			padding-bottom:  45px;
		}
	}

	/* min-width 1201px, large screens*/
}
@media only screen and (min-width: 1401px) {
	.can-be-used-item{
		&-content{
			h2{
				font-size: 48px;
			}
			p{
				font-size: 24px;
			}
		}
	}
	.main-featured-img{
		img{
			width: 670px;
			max-width: 670px;
		}
	}
	.main-features-list{
		li{
			font-size: 36px;
		}
	}
}