@font-face {
  font-family: "Futura";
  src: url("../fonts/futura.eot");
  src: url("../fonts/futura.eot?#iefix") format("embedded-opentype"), url("../fonts/futura.woff2") format("woff2"), url("../fonts/futura.woff") format("woff"), url("../fonts/futura.ttf") format("truetype"), url("../fonts/futura.svg#Petala Pro") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura Condensed Light";
  src: url("../fonts/futura-condensed-light.eot");
  src: url("../fonts/futura-condensed-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-condensed-light.woff2") format("woff2"), url("../fonts/futura-condensed-light.woff") format("woff"), url("../fonts/futura-condensed-light.ttf") format("truetype"), url("../fonts/futura-condensed-light.svg#GiovialeW00-Bold") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura Condensed Bold";
  src: url("../fonts/futura-condensed-bold.eot");
  src: url("../fonts/futura-condensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-condensed-bold.woff2") format("woff2"), url("../fonts/futura-condensed-bold.woff") format("woff"), url("../fonts/futura-condensed-bold.ttf") format("truetype"), url("../fonts/futura-condensed-bold.svg#Petala Pro") format("svg");
  font-weight: 600;
  font-style: normal;
}
/*-=Tablet screens=-*/
@media only screen and (max-width: 1024px) {
  .logo {
    text-align: center;
  }

  .possibility-item {
    width: 50%;
  }

  .main-features-list-col {
    text-align: center;
  }

  .main-features-list {
    display: inline-block;
    text-align: left;
  }

  .team-member-info h3 {
    font-size: 35px;
  }
  .team-member-info h6 {
    text-transform: none;
    font-size: 20px;
  }
  .team-member-info p {
    font-size: 16px;
  }

  /*max-width 1024px, tablet screens*/
}
@media only screen and (max-width: 800px) {
  .footer__top .columns {
    width: 100%;
  }

  .footer-menu,
  .social-contacts {
    text-align: center;
  }

  .social-contacts {
    margin-top: 20px;
  }
}
/*-=Small screens=-*/
@media only screen and (max-width: 640px) {
  /* TOP BAR Mobile STYLING */
  h1, h2 {
    font-size: 26px;
  }

  .default-page .main-content .alignleft {
    display: block;
    margin: 0 auto 25px;
  }

  .title-bar {
    background-color: #1f2d59;
    /* collapsed menu bar color */
    padding: 0;
    line-height: 45px;
  }
  .title-bar .title-bar-title {
    vertical-align: top;
  }
  .title-bar .menu-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 45px;
    background-color: transparent;
    vertical-align: top;
    cursor: pointer;
    outline: none;
  }
  .title-bar .menu-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    top: 50%;
    left: 0;
    margin-top: -9px;
    -moz-box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
    -webkit-box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
    box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
  }

  .top-bar {
    display: none;
    height: auto;
    padding: 0;
    background: #1f2d59;
    /* menu list background color */
  }
  .top-bar ul {
    background: transparent;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .top-bar ul li > a {
    display: block;
    font-family: "Microsoft Sans Serif", sans-serif;
    color: white;
    /* menu item text color */
    font-size: 14px;
    background: #1f2d59;
    /* menu item background color */
    line-height: 45px;
    padding: 0 15px;
  }
  .top-bar ul li > a:hover {
    background: #182346 !important;
    /* menu item background color on hover */
  }
  .top-bar ul li.current-menu-item > a, .top-bar ul li.current_page_ancestor > a {
    background: #26376c !important;
    /* current/parent menu item background color */
  }
  .top-bar ul li.has-dropdown a:after {
    display: none;
  }
  .top-bar ul li.has-dropdown .accordion-toggle {
    display: block;
    position: absolute;
    width: 50px;
    height: 45px;
    right: 0;
    top: 0;
    color: #fff;
    /* dropdown arrow color */
    z-index: 100;
    text-align: center;
  }
  .top-bar ul li.has-dropdown .accordion-toggle i.fa {
    font-size: 13px;
    line-height: 1;
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .top-bar ul li[aria-expanded="true"] > a {
    background: #1b274e;
    /* menu item background color on open dropdown */
  }
  .top-bar ul li[aria-expanded="true"] > a .accordion-toggle i.fa {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .top-bar ul li .submenu a {
    padding-left: 15px;
    background-color: #f6f7f9;
    padding-bottom: 10px;
    color: #000;
  }
  .top-bar ul li .submenu a span {
    display: inline-block;
    max-width: calc(100% - 150px);
    line-height: 1.2;
    padding-left: 15px;
    padding-top: 10px;
    vertical-align: top;
  }
  .top-bar ul li .submenu a .menu-icon-container {
    padding-left: 0;
    max-width: 150px;
  }
  .top-bar ul li .submenu a:hover {
    background-color: #26376c !important;
    color: #fff;
  }
  .top-bar ul li .submenu .current-menu-item a {
    color: #fff;
  }
.single .top-bar .header-menu > li:first-child{
  display: none;
}
  .alignright, .alignleft, .aligncenter, .alignnone {
    float: none;
    margin: 0 0 1em;
  }

  .header__bottom {
    padding: 9px 0 0;
  }

  .logo {
    padding-bottom: 10px;
  }

  .how-content {
    padding-right: 0;
  }

  .footer-logos-section img {
    margin-bottom: 15px;
  }

  .how-image-col {
    padding-bottom: 67%;
  }

  .top-banner {
    padding-bottom: 55%;
  }

  .main-content p, .main-content a {
    font-size: 20px;
  }

  .possibility-item {
    width: 100%;
  }

  .can-be-used-item {
    margin-bottom: 60px;
  }
  .can-be-used-item-img {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .can-be-used-item-content {
    width: 100%;
    display: block;
    text-align: center;
  }
  .can-be-used-item-content h2 {
    font-size: 45px;
  }
  .can-be-used-item-content p {
    font-size: 21px;
  }

  .main-features-list li {
    font-size: 26px;
  }

  .managment-section h2 {
    font-size: 28px;
  }

  .team-member-photo-container {
    text-align: center;
  }

  .team-member-row {
    padding-bottom: 50px;
  }

  .team-member-info p {
    font-size: 20px;
  }

  .about-bottom-section p {
    font-size: 20px;
  }

  h2.video-title {
    font-size: 30px;
  }

  h2.top-banner-title {
    font-size: 28px;
  }
}
/* max-width 640px and lower. Use this for mobiles only */
@media only screen and (max-width: 500px) {
  .top-bar ul li .submenu a {
    padding-left: 15px;
  }
  .top-bar ul li .submenu a span {
    max-width: calc(100% - 90px);
  }
  .top-bar ul li .submenu a .menu-icon-container {
    max-width: 90px;
  }

  .footer-menu li {
    display: block;
  }
  .footer-menu li a {
    display: inline-block;
  }

  .possibility-item {
    margin-top: 20px;
  }

  .possibility-second-line {
    font-size: 50px;
  }

  .can-be-used-item-content h2 {
    font-size: 35px;
  }
  .can-be-used-item-content p {
    font-size: 14px;
  }

  .main-features-list li {
    padding-left: 45px;
    font-size: 18px;
    margin-bottom: 25px;
  }

  h2.top-banner-title {
    font-size: 24px;
  }
  .comment-content{
    padding-left:  75px;
  }
  .comment-list .comment-meta{
    padding-left:  75px;
  }
}
@media only screen and (max-width:400px) {
    .comment-content{
    padding-left:  0;
  }
}
/*-=Medium screens=-*/
@media only screen and (min-width: 641px) {
  /* TOP BAR STYLING */
  .header__bottom .row {
    position: relative;
  }

  .title-bar {
    display: none;
  }

  .top-bar {
    padding: 0;
    background-color: transparent;
    /* Dropdown item styling */
  }
  .top-bar ul {
    background: transparent;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .top-bar .header-menu li {
    float: left;
    background-color: transparent;
    padding: 0 4px;
  }
  .top-bar .header-menu li > a {
    /* Regular menu item style */
    display: block;
    padding: 0;
    background: transparent;
    font-size: 14px;
    line-height: 50px;
    color: #202d63;
    font-family: "Microsoft Sans Serif", sans-serif;
    text-transform: uppercase;
    text-shadow: none;
  }
  .top-bar .header-menu li.current-menu-item > a, .top-bar .header-menu li.current-menu-ancestor > a, .top-bar .header-menu li.current_page_parent > a {
    /* Style of Current page and Ancestor page */
    background: transparent;
    color: #b41c17;
  }
  .top-bar .header-menu li.has-dropdown {
    position: static;
  }
  .top-bar .header-menu li.has-dropdown > a {
    /* Style of item with dropdown */
    padding: 0 15px;
  }
  .top-bar .header-menu li.has-dropdown > a:after {
    /* Hide dropdown arrow */
    display: none !important;
  }
  .top-bar .header-menu li.has-dropdown > a:hover {
    /* Hover state for dropdown link */
  }
  .top-bar .header-menu li > a:hover {
    /* menu item style on hover */
    background: transparent;
    color: #b41c17;
  }
  .top-bar .header-menu:after {
    content: '';
    display: table;
    clear: both;
  }
  .top-bar ul li:hover > a {
    /* Parent link style on dropdown hover */
    background: transparent;
    color: #1f2d59;
  }
  .top-bar .submenu {
    display: none;
    border: none;
    font-size: 0;
  }
  .top-bar .submenu.js-dropdown-active {
    display: block;
  }
  .top-bar .submenu li {
    width: 16.6666%;
    display: inline-block;
    padding: 0;
  }
  .top-bar .submenu li > a {
    text-align: center;
    display: block;
    /* Regular link in dropdown */
    background: #f6f7f9;
    color: #000;
    padding: 20px 10px 25px;
    line-height: 1.3;
  }
  .top-bar .submenu li > a img {
    width: 100%;
    max-width: 110px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .top-bar .submenu li > a:hover {
    /* Dropdown link on hover */
    background-color: #fff;
  }
  .top-bar .submenu li > a:hover span {
    color: #000;
  }
  .top-bar .submenu li > a span {
    font-size: 13px;
    text-transform: none;
    line-height: 1.3;
    display: block;
    text-align: left;
  }
  .top-bar .submenu li.current-menu-item a {
    background-color: #fff;
  }
  .top-bar .submenu li.current-menu-item a span {
    color: #000;
  }
  .top-bar .submenu li + li > a {
    position: relative;
  }
  .top-bar .submenu li + li > a:before {
    content: '';
    position: absolute;
    width: 1px;
    left: 0;
    height: calc(100% - 25px);
    max-height: 105px;
    bottom: 25px;
    background-color: #9c9fad;
  }
  .top-bar .is-dropdown-submenu .is-dropdown-submenu {
    margin-top: 0;
  }
  .top-bar .is-dropdown-submenu .is-dropdown-submenu li a {
    /* Styles for 2nd level dropdown menu link */
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    top: calc(100% + 9px);
  }

  /* Align Menu to the right*/
  .top-bar .header-menu {
    float: right;
  }
.single .top-bar .header-menu > li:first-child{
  display: none;
}
  /* Align Menu to the center
  	 .top-bar .header-menu { text-align: center; }
  	 .top-bar .header-menu > li{ float: none; display: inline-block; } */
  .contact-two-columns-section .columns + .columns {
    border-left: 1px solid #262221;
  }
}
/* min-width 641px */
@media only screen and (min-width: 801px) {
  .top-bar .header-menu li {
    padding: 0 10px;
  }
  .top-bar .header-menu li > a {
    font-size: 16px;
  }
  .top-bar .header-menu li .submenu li {
    padding: 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .top-bar .header-menu {
    text-align: center;
    display: block;
    float: none;
    /* li{
    	padding: 0 9px;
    } */
  }
  .top-bar .header-menu > li {
    float: none;
    display: inline-block;
  }

  h2.top-banner-title {
    font-size: 35px;
  }

  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues*/
}
/*-=Large screens=-*/
@media only screen and (min-width: 1025px) {
  .top-bar .header-menu li {
    padding: 0 9px;
  }
  .top-bar .header-menu li > a {
    font-size: 16px;
  }
  .top-bar .submenu li {
    padding: 0;
  }
  .top-bar .submenu li > a span {
    font-size: 16px;
  }

  .can-be-used-item img {
    max-width: 100px;
  }
  .can-be-used-item-content h2 {
    font-size: 35px;
  }
  .can-be-used-item-content p {
    font-size: 16px;
  }

  .main-features-list li {
    font-size: 27px;
  }

  .default-page.without-banner {
    padding-top: 100px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .header__bottom {
    background-color: #fff;
  }
  .home .header {
    position: relative;
  }
.post-wrapper{
  margin-top:  125px;
}
  /*min-width 1025px, large screens*/
}
@media only screen and (min-width: 1201px) {
  .top-bar .header-menu li {
    padding: 0 15px;
  }
  .top-bar .header-menu li > a {
    font-size: 18px;
  }
  .top-bar .submenu li {
    padding: 0;
  }
  .top-bar .submenu li a {
    padding: 20px 20px 25px;
  }

  .can-be-used-item img {
    max-width: 130px;
  }
  .can-be-used-item-content h2 {
    font-size: 40px;
  }
  .can-be-used-item-content p {
    font-size: 20px;
  }

  .main-features-list li {
    font-size: 33px;
  }

  .team-member-info {
    padding-left: 115px;
  }
  .team-member-info h6 {
    padding-bottom: 45px;
  }
.post-wrapper .columns{
  padding:  0 65px;
}
.post-wrapper .comments-col{
  padding: 0 20px;
}
.post-wrapper  .thumbnail{
  padding:  0 50px;
  /* min-width 1201px, large screens*/
}
}
@media only screen and (min-width: 1401px) {
  .can-be-used-item-content h2 {
    font-size: 48px;
  }
  .can-be-used-item-content p {
    font-size: 24px;
  }

  .main-featured-img img {
    width: 670px;
    max-width: 670px;
  }

  .main-features-list li {
    font-size: 36px;
  }
}
