/* -----------------------------------------
   Home page slider
----------------------------------------- */

#home-slider {
	min-height: 520px;
	background-color: $sub_color;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	.slick-list.draggable {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.slide-link{
		position: absolute;
		top:  0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index:  10;
	}
	.slick-list,
	.slick-track,
	.slick-slide{
		height:  100% !important;
	}
	.slick-slide {
		position: relative;
		min-height: calc(100vh - 100px); /*define the height of slide*/
		@include transition(height .3s ease);
	}
	.slick-dots{
		margin-bottom:  0;
		display: inline-block !important;
		right:  15px;
		width:  auto;
		li{
			&.slick-active{
				button{
					&:before{
						background-color: #b41c17;
					}
				}
			}
			button{
				&:before{
					 background-color: #ffffff;
				}
				&:focus{
					&:before{
						background-color: #b41c17;
					}
				}
				&:hover{
					&:before{
						background-color: #b41c17;
					}
				}
			}
		}
	}
	.slide-reverse{
		min-height: calc(100vh - 100px); /*define the height of slide*/
		position: relative;
		background-color: #000;
		.slide-image-container,
		.slide-video-container{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.slide-video-container{
			z-index:  100;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		.slide-image-container{
			z-index: 1;
			height:  100%;
			width: 100%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			@include background-size(cover);
		}
	}
	.slide-button-container{
		position: relative;
		z-index: 10;
		padding-top: 10px;
		margin: 0 auto ;
		text-align: center;
		div{
			display: inline-block;
			vertical-align: middle;
		}
		span{
			padding: 0 10px;
			display: block;
			color: $light_text_color;
			text-align: center;
		}
		img{
			vertical-align: middle;
			display: inline-block;
			padding: 10px 15px 0;
			max-width:  200px;
		}
	}
	.top-button-text{
		background-color: $sub_color;
		@include border-radius(8px 8px 0 0);
		font-size: 50px;
		font-family: $sub_font_2;
		text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
		text-transform: uppercase;
	}
	.bottom-button-text{
		background-color: $main_color;
		@include border-radius(0 0 8px 8px);
		font-size: 26px;
	}
	.designed-featured-container{
		position: relative;
		z-index:  20;
		display: inline-block;
		.designed-list{
			padding-top:  20px;
			li{
				color: $light_text_color;
				font-family: $font;
				font-weight:  600;
				span{
					background-color: $sub_color;
				}
				font-size:  16px;
			}
			li:first-child{
				span{
					background-color: $main_color;
				}
			}
		}
		.featured-list{
			padding-top:  20px;
			li{
				color: $light_text_color;
				font-family: $font;
				font-weight:  600;
				display: block;
				span{
					background-color: $main_color;
				}
				font-size:  16px;
			}
			li:first-child{
				font-size: 21px;
				span{
					background-color: $sub_color;
				}
			}
		}

		ul{
			margin: 0;
		}
		li{
			padding-bottom:  1px;
		}
		span{
			display: inline-block;
			text-align: right;
			@include border-radius(0 8px 8px 0);
			padding-right:  15px;
			padding-left: 10px;
			min-width: 210px;
		}

	}
}

@media only screen and (max-width: 1024px) {
	#home-slider {
		min-height: 650px;
		.slick-slide {
			min-height: 650px; /*define the height of slide*/
		}
		.slide-reverse{
			min-height: 650px; /*define the height of slide*/
		}
		.top-button-text {
			font-size:  25px;
		}
		.bottom-button-text{
			font-size: 18px;
		}
	}
}
@media only screen and (max-width: 640px) {
	#home-slider {
		min-height: 300px;
		.designed-featured-container{display: none;}
		.slick-slide {
			min-height:300px; /*define the height of slide*/
		}
		.slide-reverse{
			min-height: 300px; /*define the height of slide*/
		}
		.top-button-text{
			font-size:  25px;
		}
		.bottom-button-text {
			font-size:  18px;
		}
	}
}

@media only screen and (max-width: 450px) {
	#home-slider {
		.designed-featured-container{display: none;}
		.top-button-text{
			font-size:  20px;
		}
		.bottom-button-text {
			font-size:  16px;
		}
		.slide-button-container img{
			display: none;
		}
	}
}
@media only screen and (max-width: 420px) {
	.top-button-text{
		font-size:  16px;
	}
	.bottom-button-text {
		font-size:  14px;
	}
}
@media only screen and (min-width: 1025px) {
	#home-slider {
		.slick-slide {
			@include transform(skew(15deg));
			overflow: hidden;
		}
		.slide-reverse{
			@include transform(skew(-15deg));
			position: relative;
		}
		.slide-button-container{
			text-align: right;
			padding-right:  90px;
			div{
				min-width: 630px;
			}
			img{
				max-width: 150px;
			}
		}
		.first-button-container{
			text-align: center;
		}
		.top-button-text{
			font-size: 30px;
		}
		.bottom-button-text{
			font-size: 18px;
		}
		.designed-featured-container{
			.designed-list{
				li{
					font-size: 15px;
					span{
						padding-top:  0;
						padding-bottom: 0;
					}
				}
				li:first-child{
					font-size: 18px;
					span{
						padding-top: 0 ;
						padding-bottom: 0;
					}
				}
			}
			.featured-list{
				li{
					font-size: 15px;
					span{
						padding-top:  0;
						padding-bottom: 0;
					}
				}
				li:first-child{
					font-size: 18px;
					span{
						padding-top: 0 ;
						padding-bottom: 0;
					}
				}
			}
			span{
				padding-left: 20px;
				min-width: 150px;
			}
		}
	}

}

@media only screen and (min-width: 1500px) {
	#home-slider{
		min-height: 640px;
		.slick-slide {
			min-height:calc(100vh - 100px);
		}
		.slide-reverse {
			min-height: calc(100vh - 100px);
		}
		.slide-button-container{
			padding-right:  0;
			div{
				min-width: 770px;
			}
			img{
				max-width: 200px;
			}
		}
		.top-button-text{
			font-size: 45px;
		}
		.bottom-button-text{
			font-size: 26px;
		}
		.designed-featured-container{
			.designed-list{
				li{
					font-size: 16px;
					span{
						padding-top:  2px;
						padding-bottom: 2px;
					}
				}
				li:first-child{
					font-size: 21px;
					span{
						padding-top: 7px ;
						padding-bottom: 7px;
					}
				}
			}
			.featured-list{
				li{
					font-size: 16px;
					span{
						padding-top: 2px ;
						padding-bottom: 2px;
					}
				}
				li:first-child{
					font-size: 21px;
					span{
						padding-top: 7px ;
						padding-bottom: 7px;
					}
				}
			}
		}
		span{
			padding-left: 50px;
		}
	}

	.small-bottom-padding{
		padding-bottom:  30px;
	}
	.big-bottom-padding{
		padding-bottom:  80px;
	}
	.big-top-padding{
		padding-top: 130px;
	}
}
@media only screen and (min-width: 1501px) {

}
@media only screen and (min-width: 1601px) {
	#home-slider {
		min-height: 700px;
		.slick-slide {
			min-height: calc(100vh - 100px);
		}
		.slide-reverse {
			min-height: calc(100vh - 100px);
		}
	}
}