// Project mixins

@mixin align-middle {
	@include transform(translate(-50%, -50%));
	position: absolute;
	top: 50%;
	left: 50%;
}

@mixin vert-align {
	font-size: 0;
	white-space: nowrap;
	&:before {
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	> * {
		vertical-align: middle;
		display: inline-block;
		white-space: normal;
	}
}

@mixin justify-elems {
	text-align: justify;
	font-size: 0;
	> * {
		float: none;
		display: inline-block;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
		line-height: 0;
	}
}

@mixin list-unstyled {
	margin: 0;
	list-style: none;
	padding: 0;
}
@font-face {
	font-family: "Futura";
	src: url("../fonts/futura.eot");
	src: url("../fonts/futura.eot?#iefix") format("embedded-opentype"),
	url("../fonts/futura.woff2") format("woff2"),
	url("../fonts/futura.woff") format("woff"),
	url("../fonts/futura.ttf") format("truetype"),
	url("../fonts/futura.svg#Petala Pro") format("svg");
	font-weight:  400;
	font-style: normal;
}
@font-face {
	font-family: "Futura Condensed Light";
	src: url("../fonts/futura-condensed-light.eot");
	src: url("../fonts/futura-condensed-light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/futura-condensed-light.woff2") format("woff2"),
	url("../fonts/futura-condensed-light.woff") format("woff"),
	url("../fonts/futura-condensed-light.ttf") format("truetype"),
	url("../fonts/futura-condensed-light.svg#GiovialeW00-Bold") format("svg");
	font-weight:  300;
	font-style: normal;
}
@font-face {
	font-family: "Futura Condensed Bold";
	src: url("../fonts/futura-condensed-bold.eot");
	src: url("../fonts/futura-condensed-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/futura-condensed-bold.woff2") format("woff2"),
	url("../fonts/futura-condensed-bold.woff") format("woff"),
	url("../fonts/futura-condensed-bold.ttf") format("truetype"),
	url("../fonts/futura-condensed-bold.svg#Petala Pro") format("svg");
	font-weight:  600;
	font-style: normal;
}
//declare variables below

$blue: #1f2d59;
$red: #b41c17;
$white: #fff;
$black: #000;

$text_color: $black;
$light_text_color: $white;

$main_color: $blue;
$sub_color: $red;

$font: "Futura", sans-serif;
$sub_font: 'Roboto', sans-serif;
$sub_font_2: "Futura Condensed Bold", sans-serif;
$title_font: "Futura Condensed Light", sans-serif;
$default_font_1: "Microsoft Sans Serif" , sans-serif;
$default_font_2: "Microsoft YaHei", sans-serif;